STRINGTABLE 
BEGIN
    1		"FxImgLocaleR1"                                 // do not change this!
    2		"German - Deutsch"                             // name of the locale language (in English and translated)
    3		"ger"                                           // ISO code of the language - http://www.w3.org/WAI/ER/IG/ert/iso639.htm (lowercase!)
    4		"Harun Basalamah - harun.basalamah@panalpina.com"        // locale author (you!) - e-mail is optional
    5		"5.5.1"                                          // last version of Futuris Imager this locale was updated for
															                          
    50		"OK"
    51		"Abbrechen"
    52		"Ja"
    53		"Nein"
    54		"Schließen"
    55		"Anwenden"
    56		"Speichern"

    60		"Start"
    61		"Stopp"

    70		"Unbekannt"
    71		"Andere"
    72		"Nicht verfügbar"
    73		"Nicht anwendbar"
    74		"N/A"
    75		"n/a"

    100		"Datei"
    101		"Bearbeiten"
    104		"Ansicht"
    108		"Werkzeuge"
    110		"Hilfe"

    120		"Öffnen..."
    121		"Neues Bild laden..."
    122		"Zuletzt verwendete"
    124		"Erneut öffnen"
    125		"Aktuelles Bild erneut laden"
    126		"Neues Bild..."
    127		"Neues leeres Bild erstellen"
    128		"Speichern unter..."
    129		"Bild speichern unter..."
    130		"Schließen"
    131		"Aktuelles Bild schließen"
    132		"Import"
    134		"Export"
    136		"Datei-Information"
    137		"Datei-Informationsfenster anzeigen"
    138		"Dateiverwaltung"
    140		"Datei löschen"
    141		"Aktuelle Datei löschen"
    142		"Datei kopieren"
    143		"Aktuelle Datei kopieren"
    144		"Datei bewegen"
    145		"Aktuelle Datei bewegen"
    146		"Datei umbenennen"
    147		"Aktuelle Datei umbenennen"
    150		"Drucken"
    151		"Aktuelles Bild drucken"
    152		"Druckvorschau..."
    153		"Druckvorschau anzeigen"
    154		"Beenden"
    155		"%s beenden"
    156		"Letztes öffnen"
    157		"Lädt das zuletzt geöffnete verfügbare Bild"

    170		"Rückgängig"
    171		"Letzte Änderung rückgängig machen"
    172		"Kopieren"
    173		"In die Zwischenablage kopieren"
    174		"Einfügen"
    175		"Aus der Zwischenablage einfügen"
    176		"Bild bearbeiten..."
    177		"Öffnet den Bild-Editor"

    190		"Werkzeugleisten"
    192		"Haupt-Werkzeugleiste"
    193		"Haupt-Werkzeugleiste anzeigen/verbergen"
    194		"Statusleiste"
    195		"Statusleiste anzeigen/verbergen"

    210		"Anzeigeoptionen"
    212		"Normale Anzeige"
    213		""
    214		"Große Bilder im Fenster einpassen"
    215		""
    216		"Alle Bilder im Fenster einpassen"
    217		""    
    220		"Bild zentriert anzeigen"
    221		""
    222		"Bildlaufleisten anzeigen"
    223		""

    230		"Vergrößern/Verkleinern"
    232		"Vergrößern"
    233		"Um 50% vergrößern"
    234		"Verkleinern"
    235		"Um 50% verkleinern"
    236		"6%"
    237		""
    238		"12%"
    239		""
    240		"25%"
    241		""
    242		"50%"
    243		""
    244		"75%"
    245		""
    246		"100%"
    247		"Originalgröße"
    248		"150%"
    249		""
    250		"200%"
    251		""
    252		"400%"
    253		""

    260		"An Fenstergröße anpassen"
    261		""
    262		"An Fensterbreite anpassen"
    263		""
    264		"An Fensterhöhe anpassen"
    265		""

    270		"Im Uhrzeigersinn drehen"
    271		""
    272		"Entgegen Uhrzeigersinn drehen"
    273		""

    276		"Benutzerdefiniert..."
    277		"Benutzerdefiniert vergrößern/verkleinern"

    280		"Seiten"
    282		"Erste Seite"
    283		""
    284		"Vorherige Seite"
    285		""
    286		"Nächste Seite"
    287		""
    288		"Letzte Seite"
    289		""
    290		"Gehe zu Seite..."
    291		""
    292		"Seite extrahieren"
    293		""

    300		"Animation"
    302		"Abspielen"
    303		""
    304		"Pause"
    305		""
    306		"Stopp"
    307		""

    310		"Gehe zu"
    312		"Zurück"
    313		"Gehe zum vorherigen Bild im aktuellen Ordner"
    314		"Vorwärts"
    315		"Gehe zum nächsten Bild im aktuellen Ordner"
    316		"Erstes"
    317		"Gehe zum ersten Bild im aktuellen Ordner"
    318		"Letztes"
    319		"Gehe zum letzten Bild im aktuellen Ordner"
    320		"Zufällig"
    321		"Gehe zum zufällig gewähltem Bild im aktuellen Ordner"

    326		"Bildschirmpräsentation"
    327		"Bildschirmpräsentation einrichten"
    328		"Starte Bildschirmpräsentation"
    329		"Startet eine Bildschirmpräsentation"
    330		"Vollbild"
    331		"Vollbildmodus ein/aus"

    350		"Optionen..."
    351		"Konfiguriert %s nach Ihrem Gusto"

    362		"%s Webseite"
    363		"Öffnet die %s Webseite"
    364		"Über..."
    365		"Über %s"
    366		"Online Dokumentation"
    367		"Neuste Online-Dokumentation lesen"

    370		"Minimieren"
    371		""

    400		"Bild öffnen ..."
    401     "Größe: %s x %s"
    402     "Keine Größeninformation verfügbar"
    403     "Datei: %s"
    404     "Typ: %s"
    405		"Bild speichern unter..."
    406     "Unterstützt"
    407     "Nicht unterstützt"
    408     "Alle Dateien"
    409     "Unbenannt"
    410		"Öffne %s"
    411		"Unbekanntes Bildformat"

    500		"Haupt-Werkzeugleiste"
    502		"Öffnen"
    503		"Öffnen|Neues Bild öffnen"
    504		"Letztes"
    505		"Letztes Bild|Letztes Bild laden"
    506		"Speichern"
    507		"Speichern unter...|Bild im Format Ihrer Wahl speichern"
    508		"Schlißen"
    509		"Schließen|Bild schließen"
    510		"Drucken"
    511		"Drucken|Bild drucken"
    512		"Kopieren"
    513		"Kopieren|Bild in die Zwischenablage kopieren"
    514		"Einfügen"
    515		"Einfügen|Aus der Zwischenablage einfügen"
    516		"Vorherige Seite"
    517		"Vorherige Seite|Gehe zur vorherigen Seite"
    518		"Nächste Seite"
    519		"Nächste Seite|Gehe zur nächsten Seite"
    520		"Info"
    521		"Dateiinfo|Zeige Dateiinformationen"
    522		"Vergrößern"
    523		"Vergrößern|Um 50% vergrößern"
    524		"Verkleinern"
    525		"Verkleinern|Um 50% verkleinern"
    526		"Drehen"
    527		"Drehen|Bild 90 Grad im Uhrzeigersinn drehen"
    528		"Vergrößern/Verkleinern"
    529		"Vergrößern/Verkleinern|Vergrößerung/Verkleinerung festlegen"
    530		"Anzeige"
    531		"Anzeigeoptionen|Diverse Anzeigeoptionen anpassen"
    532		"Vollbild"
    533		"Vollbild|Zur Vollbildanzeige wechseln"
    534		"Editor"
    535		"Editor|Eingebauten Editor öffnen"
    536		"Zurück"
    537		"Zurück|Gehe zum vorherigen Bild im aktuellen Ordner"
    538		"Vorwärts"
    539		"Vorwärts|Gehe zum nächsten Bild im aktuellen Ordner"
    540		"Rückgängig"
    541		"Rückgängig|Letzte Änderung rückgängig machen"
    542		"Wähle zufällig"
    543		"Zufällig|Gehe zu zufällig gewähltem Bild im aktuellen Ordner"
    544		"Einpassen"
    545		"Einpassen|Bilder im Fester einpassen"
    
    600		"Generischer Fehler"
    601		"Importerweiterung kann nicht geladen werden."
    602     "Exporterweiterung kann nicht geladen werden."
    603     "Werkzeugerweiterung kann nicht geladen werden.."
    604     "Erweiterungssuche abgeschlossen."
    605     "Hilfsbibliothek kann nicht geladen werden."
    606     "Größenanpassung unmöglich - es ist kein Editorfenster geöffnet."

    610     "Möchten Sie die aktuelle Datei wirklich löschen?"
    611     "Wählen Sie den Zielordner ..."
    612     "Geben Sie den neuen Dateinamen ein (mit Dateiendung) ..."
    613     "Es existiert bereits eine Datei mit diesem Namen im Zielordner. Möchten Sie diese überschreiben?"

    620     "Datei existiert nicht."
    621     "Sie müssen einen numerischen Wert eingeben."

    630     "Gehe zu Seite..."
    631     "Geben Sie die gewünschte Seite an... (im Bereich von 1 bis %s)"
    632     "Diese Seite gibt es nicht."

    640     "%s Dokument"
    641     "&Öffnen"

    700     "Über %s"
    701     "%s Webseite besuchen"

    710     "Benutzerdefinierte Vergrößerung/Verkleinerung"
    711     "Benutzerdefinierte Vergrößerung/Verkleinerung"

    720     "Bildschirmpräsentation"
    721     "Timer:"
    722     "Festlegen"
    723     " Richtung "
    724     "Normal"
    725     "Rückwärts"
    726     "Zufällig"
    727     "[F3] zum anzeigen/verbergen dieser Werkzeugleiste währen der Präsentation"
    728     "Bildschirmpräsentation (läuft, %s sek.)"

    730     "Histogramm"
    731     "Rot"
    732     "Grün"
    733     "Blau"
    734     "Grau"

    740     "Neues Bild"
    741     " Größe "
    742     " Hintergrundfarbe "
    743     "Breite:"
    744     "Höhe:"
    745     "Klicken Sie hier zur Farbauswahl"

    750     "Bildinformation"
    751     "Allgemein"
    752     "EXIF"
    753     "EXIF Miniaturbild"
    754     "Histogramm"
    755     "Schlüssel"
    756     "Wert"

    800     "Bild drehen"
    801     "Winkel:"
    802     "Qualität:"
    803     "Höchste (sehr langsam)"
    804     "Hoch (langsam)"
    805     "Mittel"
    806     "Grob (schnell)"

    810     "Bild größenverändern"
    811     "Seitenverhältnis beibehalten"
    812     "Größe"
    813     "Maßstab"
    814     "Methode"
    815     "Breite:"
    816     "Höhe:"
    817     "pixel"
    818     "%"
    819     "Methode:"
    820     "Bikubisch"
    821     "Bilinear"
    822     "FastLinear"
    823     "Linear"
    824     "Nearest"
    825     "Mitchell"
    826     "Lanczos3"
    827     "BSpline"
    829     "Bell"
    830     "Hermite"
    831     "Dreieck"
    832     "Keine"

    840     "Optionen"
    841     "Allgemein"
    842     "Programmverhalten"
    843     "Dateiformate"
    844     "Sprache"
    845     "Funktionen"
    846     "Vollständigen Pfad in Titelleiste anzeigen"
    847     "Geändertes Bild nach Speichern laden"
    848     "Zeige standardmäßig alle Dateien im Öffnen-Dialog"
    849     "Liste der zuletzt geöffneten Dateien deaktivieren"
    850     "Im Vollbildmodus starten"
    851     "Liste der zuletzt geöffneten Dateien bereinigen"
    852     ""
    853     "Fensterfarbe:"
    854     "Vollbild-Farbe:"
    855     "Dateiendungen:"
    856     "Beschreibung der Dateiformate ändern"
    857     "Windows Standard-Ikonenbetrachter wiederherstellen"
    858     "Alle auswählen"
    859     "Alle abwählen"
    860     "Aktualisieren"
    861     " Ikone wählen "
    862		"Erweiterungen (Plug-ins)"
    863		"Nach neuen Erweiterungen suchen"
    864		"Ordner mit Erweiterungen öffnen"
    865		"Mehr Erweiterungen holen..."
    866		"Leistungsverhalten"
    867		"Installierte Erweiterungen:"
    868		"Progressives laden von Bildern (Könnte das Laden verlangsamen)"
    869		"Langsameren Hochqualitäts-Anzeigefilter verwenden"	
    870     "Beschreibung ändern"
    871     "Sie können die Beschreibung der unterstützten Dateiformate ändern, die im Windows Explorer angezeigt werden..."
    872     "Erledigt."
    873		"Anzeigefilter beim Bildschirmrollen verzögert anwenden"
    874		"Mehrere Programminstanzen erlauben"
    875		"Laufrichtung umkehren"

    880     "%s - Editor"
    881     "Editor Werkzeugleiste"
    882     "Auswahl"
    883     "Auswahlwerkzeug"
    884     "Hand"
    885     "Handwerkzeug"
    886     "Zeichnen"
    887     "Zeichenwerkzeuge"
    888     "Ausschneiden"
    889     "Ausschneiden"
    890     "Kopieren"
    891     "Kopieren"
    892     "Einfügen"
    893     "Einfügen"
    894     "Einfügen+"
    895     "Einfügen (gestreckt)"
    896     "Rückgängig"
    897     "Rückgängig"
    898     "Wiederherstellen"
    899     "Wiederherstellen"
    900     "Bild einpassen"
    901     "Ganzes Bild im Fenster anzeigen"
    902     "Vergrößern/Verkleinern"
    903     "Zoomen"
    904     "Auswahl"
    905     "Auswahl"
    906     "Löschen"
    907     "Löschen"
    908     "Größenanpassung"
    909     "Bild größenverändern"
    910     "Abschneiden"
    911     "Bild abschneiden"
    912     "Drehen"
    913     "Bild drehen"
    914     "Alles auswählen"
    915     ""
    916     "Auswahl invertieren"
    917     ""
    918     "Auswahl aufheben"
    919     ""
    920     "Filter"
    921     "    Farbe:  "

    1000    "JPEG / Joint Photographic Experts Group"
    1001    "JPEG 2000"
    1002    "CompuServe GIF"
    1003    "Portable Bitmap"
    1004    "Portable Graymap"
    1005    "Portable Pixelmap"
    1006    "Windows Bitmap"
    1007    "Enhanced Metafile"
    1008    "Windows Metafile"
    1009    "ZSoft Paintbrush"
    1010    "ZSoft Paintbrush (Mehrseitig)"
    1011    "PNG / Portable Network Graphics"
    1012    "Truevision Targa"
    1013    "TIFF / Tag Image File Format"
    1014	"Wireless Bitmap"
    1015	"MNG / Multiple-image Network Graphics"
    1016	"JNG / JPEG Network Graphics"
    1017	"Kodak Photo CD"
    1018	"EPS thumbnail / Encapsulated PostScript"
    1019	"Autodesk Image"
    1020	"Adobe Photoshop"
    1021	"Adobe PhotoDeluxe"
    1022	"Corel/Jasc PaintShop Pro"
    1023	"Commodore 64 Koala Format"
    1024	"Amiga IFF"
    1025	"DirectDraw Oberfläche"
    1026	"Sun Rasterfile"
    1027	"X11 Bitmap Format"
    1028	"X11 Pixmap Format"
    1029	"Windows Ikone"
    1030	"HDR / High Dynamic Range"
    1031	"PDF / Portable Document Format"
    1032	"PostScript"
    1033	"Windows Cursor"
    1034	"ASCII Textkunst"
    1035    "Canon RAW Digital Camera Dump"
    1036    "Adobe Digital Negative"
    1037    "Nikon RAW Digital Camera Dump"
    1038    "RAW Digital Camera Dump"
    1039    "Fuji RAW Digital Camera Dump"
    1040    "JBIG"
    1041    "DICOM / Digital Imaging and Communications in Medicine"
    1042    "Dr. Halo"
    1043    "AVS X Image"
    1044    "Kodak Cineon"
    1045    "Graph Visualization"
    1046    "SMPTE Digital Moving Picture Exchange"
    1047    "Flexible Image Transport System"
    1048    "FlashPix"
    1049    "MATLAB"
    1050    "ImageMagick"
    1051    "MTV Raytracing"
    1052    "Palm Pixmap"
    1053    "Apple Macintosh QuickDraw/PICT"
    1054    "Alias/Wavefront RLE Image"
    1055    "Seattle File Works"
    1056    "Alias/Wavefront Image"
    1057    "Irix RGB Image"
    1058    "Sun Rasterfile"
    1059    "SVG / Scalable Vector Graphics"
    1060    "TrueType Schriftart"
    1061    "VICAR Rasterfile"
    1062    "Khoros VIFF / Visualization Image File Format"
    1063    "GIMP Image"

    1200    "Pfad"
    1201    "Dateigröße"
    1202    "%f Gb"
    1203    "%f Mb"
    1204    "%f Kb"
    1205    "Datei-Zeitstempel"
    1206    "Dimensionen"
    1207    "%s x %s"

    1220    "JPEG Kompression"
    1221    "%s%% (geschätzt)"
    1222    "Hersteller"
    1223    "Modell"
    1224    "Bildmaße"
    1225    "%d x %d Pixel"
    1226    "Auflösung"
    1227    "%.1f MP (geschätzt)"
    1228    "Miniaturbild"
    1229    "Verfügbar (siehe ""%s"" Seite)"
    1230    "Aufnahmedatum"
    1231    "Digitalisierungsdatum"
    1232    "X Auflösung"
    1233    "Y Auflösung"
    1234    "Software"
    1235    "ISO"
    1236    "F-Nummer"
    1237    "Belichtungszeit"
    1238    "1/%d sek."
    1239    "Brennweite"
    1240    "%-4.1f mm."
    1241    "Belichtungsprogramm"
    1242    "Manuelle Bedienung"
    1243    "Normal"
    1244    "Blendenpriorität"
    1245    "Verschlusspriorität"
    1246    "Kreativ (Langsames Programm)"
    1247    "Action (Hochgeschwindigkeits-Programm)"
    1248    "Portraitmodus"
    1249    "Landschaftsmodus"
    1250    "Lichtquelle"
    1251    "Tageslicht"
    1252    "Fluoreszent"
    1253    "Kunstlicht"
    1254    "Blitzlicht"
    1255    "Standardlicht A"
    1256    "Standardlicht B"
    1257    "Standardlicht C"
    1258    "D55"
    1259    "D65"
    1260    "D75"
    1261    "Blitz"
    1262    "Blitz ging nicht los"
    1263    "Blitz ging los"
    1264    "Blitz ging los, Stroboskopreflektion jedoch nicht erfasst"
    1265    "Blitz ging los, Stroboskopreflektion erfasst"
    1266    "Blitz ging, nach gezielter Blitzvorwahl, los"
    1267    "Eingebauter Blitz ging los"
    1268    "Maximaler Blendenwert"
    1269    "Messmethode"
    1270    "Mittelwert"
    1271    "Zentrumgewichteter Mittelwert"
    1272    "Punkt"
    1273    "Mehrpunkt"
    1274    "Mehrausschnitt"
    1275    "Partiell"
    1276    "Exposure Bias"
    1277    "Helligkeitswert"
    1278    "Sensortyp"
    1279    "1-Chip Farbbereichs-Sensor"
    1280    "Weißpunkt"
    1281    "Schwarz-Weiß Referenz"
    1282    "YCbCr Koeffizient"
    1283    "FlashPix Version"
    1284    "sRGB"
    1285    "Nicht kalibriert"
    1286    "Farbraum"
    1287    "X-Auflösung der Brennebene"
    1288    "Y-Auflösung der Brennebene"
    1289    "Auflösungseinheit der Brennebene"
    1290    "Keine Einheit"
    1291    "Zoll"
    1292    "Zentimeter"
    1293    "Primäre Chromatizität"
    1294    "EXIF Version"
    1295    "Komprimierte  Bit/Pixel"
    1296    "Auflösungseinheit"
    1297    "YCbCr Positionierung"
    1298    "Zentrum des Pixelarray"
    1299    "Bezugspunkt"
    1300    "Orientierung"
    1301    "Top left side"
    1302    "Top right side"
    1303    "Bottom right side"
    1304    "Bottom left side"
    1305    "Left side top"
    1306    "Right side top"
    1307    "Right side bottom"
    1308    "Left side bottom"
    1309    "Bildbeschreibung"
    1310    "Szenentyp"
    1311    "Objektabstand"
    1312    "Untersektionszeit"
    1313    "Untersektionszeit Original"
    1314    "Zugehörige Klangdatei"
    1315    "Belichtungsindex"
    1316    "Dateiquelle"
    1317    "Digitalkamera"
    1318    "Urheberrecht"
    1319    "Benutzerkommentar-Kode"
    1320    "Benutzerkommentar"

    1750    "Invertieren"
    1751    "Grauskala"
    1752    "Retusche roter Augen"
    1753    "Größenverändern"
    1754    "Drehen"
    
    3000	"Als Hintergrundbild betrachten..."
    3001	"Als Hintergrundbild einstellen..."
    3002	"Als Hintergrundbild ansschauen"
    3003	"Benutzerdefiniert:"
    3004	"x"
    3005	"%s x %s"
    3006	"Benutzerdefiniert einstellen" 
    3007	"Als Hintergrundbild einstellen"
    3008	" Hintergrundbild-Position "
    3009	"Zentriert"
    3010	"Kachel"
    3011	"Gestreckt"
    
    3015	"Als HEX anschauen..."
    3016	"Als HEX anschauen"
    3017	"Dieses Werkzeug kann nur existierende Dateien anzeigen."
    
    3020	"Erweiterter GIF Export..."
    3021	"GIF Export"
    3022	"Einstellungen"
    3023	"Vorschau"
    3024	" Farbreduktion "
    3025	"Keine"
    3026	"Windows 20 Farben"
    3027	"Windows 256 Farben"
    3028	"Windows Grauskala"
    3029	"Monochrom"
    3030	"Grauskala"
    3031	"Netscape Web Safe"
    3032	"Optimale 256 Farben"
    3033	" Dither "
    3034	"Nearest"
    3035	"Floyd Steinberg"
    3036	"Stucki"
    3037	"Sierra"
    3038	"Jarvis, Judice und Ninke"
    3039	"Stevenson und Arche"
    3040	"Burkes"
    3041	"Als GIF speichern..."
    
    3050	"Farboptimierung"
    3051	"Helligkeit"
    3052	"Gauß'sche Trübung"
    3053	"Teilungstrübung"
    3054	"Farbrauschen hinzufügen"
    3055	"Anti-Alias"
    3056	"Kontrast"
    3057	"Helligkeit"
    3058	"Dunkelheit"
    3059	"Sättigung"
    3060	"Mosaik"
    3061	"Kacheln"
    3062	"Prägen"
    3063	"Solarisieren"
    3064	"Posterisieren"
    
    3070	"Helligkeit"
    3071	" Helligkeit "
    
    3075	"Bildfarben ändern"
    3076	"Rot:"
    3077	"Grün:"
    3078	"Blau:"
    
    3080	"Bild von Digitalkamera oder Scanner erfassen..."
    3081	"HTML-Datei für das Bild erstellen..."
    3082	"Möchten Sie das aktuelle bild in eine HTML-Datei einbetten?"
    3083	"Beim Speichern der HTML-Datei ist ein fehler aufgetreten."
    3084	"HTML-Datei erstellt am: ""%s"""
    3085	"Dieses Werkzeug kann nur mit gespeicherten Bildern verwendet werden."
    3086	"Als JPEG speichern"
    3087	" Qualität "
    3088	"Progressiv"
    3089	"Optimiert (Speichern dauert länger)"
    3090	"Als JPEG2000 speichern"
    3091	" Kompressionsstufe "
    3092	"Verlustfrei"
    3093	"Als TIFF speichern"
    3094	" Kompression "
    3095	"Keine"
    3096	"LZW"
    3097	"JPEG"
    3098	"PackBits"
    3099	"CCITT (Huffman)"
    3100	"CCITT G3, 1D"
    3101	"CCITT G3, 2D"
    3102	"CCITT G4, 2D"
    3103	" Kompressionsstufe (nur bei JPEG) "
    
    3110	"Bild erfassen..."
    3111	"Bild erfassen"
    3112	"Erfassen"
    3113	" Erfassen "
    3114	"Desktop"
    3115	"Polygon"
    3116	"Auswahl"
    3117	"Aktives Fenster"
    3118	"Dieses Fenster ausblenden"
    3119	"Mauszeiger mit erfassen"
    3120	"Aktiviere 5-Sekündige Verzögerung"
    
    3130	"Paintbrush-Format Bild"
    3131	"EGA 16-bit Farbbild"
    3132	"Füllfeld leer"
    3133	"Füllfeld ist nicht leer"
    3134	"Hersteller"
    3135	"Version"
    3136	"Kodierung"
    3137	"Bit pro Pixel"
    3138	"Links"
    3139	"Oben"
    3140	"Breite"
    3141	"Höhe"
    3142	"Horizontale Auflösung"
    3143	"Vertikale Auflösung"
    3144	"Farbebenen"
    3145	"Byte pro Zeile"
    3146	"Palettentyp"
    3147	"Horizontale Bildschirmgröße"
    3148	"Vertikale Bildschirmgröße"
    3149	"Füllfeld"
    3150	"Bildgröße (Byte)"
    3151	"Dateigröße (Byte)"
    3152	"%s (unerwartet!)"
    3153	"%s (gültig)"
    3154	"Alle Farben"
    3155	"Typ"
    3156	"Dateigröße (aus Dateikopf)"
    3157	"Kompression"
    3158	"Horizontale Auflösung (Pixel pro Meter)"
    3159	"Vertikale Auflösung (Pixel pro Meter)"
    3160	"Anzahl Farben"
    3161	"Wichtige Farben"
    3162	"Ikone"
    3163	"Unverträgliche Datentypen"
    3164	"Anzahl der Einträge im Ikonenverzeichnis"
    3165	"Einträge"
    3166	"#%d : %dx%d, %d bit, %d byte."
    3167	"#%d : %dx%d, %d bit, %d byte."
    3168	"Truevision TGA Version 2.0"
    3169	"Original TGA Format"
    3170	"Keine Bilddaten enthalten"
    3171	"Unkomprimiert, Farbpaletten-Bild"
    3172	"Unkomprimiert, Echtfarben-Bild"
    3173	"Unkomprimiert, Schwarz/Weiß-Bild"
    3174	"Lauflängen-Kodiert, Farbpaletten-Bild"
    3175	"Lauflängen-Kodiert, Echtfarben-Bild"
    3176	"Lauflängen-Kodiert, Schwarz/Weiß-Bild"
    3177	"%d-%d-%d %d:%d:%d "
    3178	"Erweiterung"
    3179	"Autor"
    3180	"Kommentare"
    3181	"Zeitstempel"
    3182	"Vorhanden."
    3183	"Keine Globale Farbtabelle."
    3184	"(sortiert)"
    3185	"(unsortiert)"
    3186	"Keine Information hinterlegt."
    3187	"Globale Farbtabelle"
    3188	"Größe der globalen Farbtabelle (Byte)"
    3189	"Pixel-Seitenverhältnis"

    3250	"Druckvorschau"
    3251	"Drucken"
    3252	""
    3253	"Zoomen"
    3254	""
    3255	"Einrichten"
    3256	""
    3257	"Proportional"
    3258	"Große Bilder verkleinern"
    3259	"Zentrieren"
    3260	"Bild kann nicht gedruckt werden."
    3261	"Kein Drucker gefunden."
    
    3300	"Pfeiltasten-Funktion:"
    3301	"Dateinavigation"
    3302	"Bildverschiebung"
    3303	"Funktion der Eingabetaste:"
    3304	"Zwischen Anzeigemodi hin- und herschalten"
    3305	"Vollbildmodus ein/aus"
    3306	"""Alle einpassen"" Anzeigemodus aktivieren"
    3307	"Bei Doppelklick auf Bild in Vollbildmodus wechseln"
    3308	"Es wird nicht empfohlen den Hochqualitäts-Anzeigefilter mit progressivem Laden von Bildern zu kombinieren"
    3309	"Suche nach eingebetteten Farbprofilen aktivieren"
    3310	"Alle Bilder direkt in den Arbeitsspeicher laden"
    3311	"Verwenden Sie diese Option nicht, wenn Ihr Rechner weniger als 1 GB RAM-Speicher hat und Sie große Bilder betrachten"
    3312	"Standardfunktion für Mausrad:"
    3313	"Bild vergrößern/verkleinern"
    3314	"Bei Mausklick und Ziehen:"
    3315	"Bild rollen"
    3316	"Nach Rechteckauswahl vergrößern"
    3317	"Beim öffnen eines Bildes:"
    3318	"Vorherigen Anzeigemodus beibehalten (und im normalen Anzeigemodus auf Originalgröße wechseln)"
    3319	"Nichts ändern (Anzeigemodus und Vergrößerung/Verkleinerung beibehalten)"
    3320	"Anzeigemodus auf ""Große Bilder einpassen"" setzen"
    3321	"Anzeigemodus auf ""Alle Bilder einpassen"" setzen"
    3322	"Anzeigemodus auf ""Normal"" und Originalgröße setzen"
    3323	"Anzeigemodus auf ""Normal"" setzen und vorherigen Zoom beibehalten"

    3400	"Verlustfreie JPEG-Transformation"
    3401	"Verlustfreie JPEG-Transformation..."
    3402	"Diese Funktion arbeitet nur mit gespeicherten JPEG-Dateien."
    3403	"_transformiert"			// this string will be part of the generated file name!
    3404	"90° drehen"
    3405	"180° drehen"
    3406	"270° drehen"
    3407	"Horizontal spielgeln"
    3408	"Vertikal spiegeln"
    3409	"Transponieren"
    3410	"Spiegeln"
    3411	"Schneiden"
    3412	"Metadaten entfernen"
    3413	"Achtung! Das aktuelle Bild kann bis zu 16 Bildpunkte nahe den Rändern verlieren! (Die Bildmaße sollten ein vielfaches von 8 sein damit die verlustfreie JPEG-Transformation korrekt funktioniert)"
    
    3500	"Anpassen..."
    3501	""
    3502	"Trennlinie"
    3503	"Werkzeugleiste einrichten"
    3504	"Verfügbare Knöpfe:"
    3505	"Haupt-Werkzeugleiste:"
    3506	"Hinzufügen >"
    3507	"< Entfernen"
    3508	"Zurücksetzen"
    
    3600	"Per E-Mail verschicken..."
END
