TBSA RT_BITMAP "res\tb_small_active.bmp"
TBSD RT_BITMAP "res\tb_small_disabled.bmp"
TBLA RT_BITMAP "res\tb_large_active.bmp"
TBLD RT_BITMAP "res\tb_large_disabled.bmp"
HAND CURSOR "res\hand.cur"
1 ICON "res\icon_1.ico"
2 ICON "res\icon_2.ico"
3 ICON "res\icon_3.ico"
4 ICON "res\icon_4.ico"
1 24 "res\imager.manifest"
