STRINGTABLE 
BEGIN
    1		"FxImgLocaleR1"                                 // do not change this!
    2		"Slovak - Slovenèina"                           // name of the locale language (in English and translated)
    3		"slo"                                           // ISO code of the language - http://www.w3.org/WAI/ER/IG/ert/iso639.htm
    4		"Slapo"
    5		"5.5.1"                      					// last version of Futuris Imager this locale was updated for

    50		"OK"
    51		"Zruši"
    52		"Áno"
    53		"Nie"
    54		"Zatvori"
    55		"Použi"
    56		"Uloži"

    60		"Štart"
    61		"Stop"

    70		"Neznáme"
    71		"Iné"
    72		"Nedostupné"
    73		"Nepoužite¾né"
    74		"N/A"
    75		"n/a"

    100		"Súbor"
    101		"Upravi"
    104		"Zobrazenie"
    108		"Nástroje"
    110		"Pomoc"

    120		"Otvori..."
    121		"Otvori nový obrázok..."
    122		"Otvori nedávny"
    124		"Otvori opä"
    125		"Znova nahra súèasný obrázok"
    126		"Nový obrázok..."
    127		"Vytvori nový prázdny obrázok"
    128		"Uloži ako..."
    129		"Uloži obrázok ako..."
    130		"Zatvori"
    131		"Zatvori súèasný obrázok"
    132		"Importova"
    134		"Exportova"
    136		"Informácie o súbore"
    137		"Zobrazi panel informácií o súbore"
    138		"Správa súborov"
    140		"Odstráni súbor"
    141		"Odstráni súèasný súbor"
    142		"Kopírova súbor"
    143		"Kopírova súèasný súbor"
    144		"Premiestni súbor"
    145		"Premiestni súèasný súbor"
    146		"Premenova súbor"
    147		"Premenova súèasný súbor"
    150		"Tlaèi"
    151		"Tlaèi súèasný obrázok"
    152		"Tlaèi Náh¾ad..."
    153		"Tlaèi obrázok s náh¾adom výsledkov"
    154		"Skonèi"
    155		"Skonèi %s"
    156		"Naèíta posledný"
    157		"Naèíta posledný dostupný obrázok"

    170		"Spä"
    171		"Obnovi predchádzajúci obrázok stav"
    172		"Kopírova"
    173		"Kopírova do schránky"
    174		"Prilepi"
    175		"Prilepi zo schránky"
    176		"Upravi obrázok..."
    177		"Otvori vstavaný editor obrázkov"

    190		"Panely nástrojov"
    192		"Hlavný panel nástrojov"
    193		"Prepína hlavný panel nástrojov"
    194		"Stavová lišta"
    195		"Prepína stavovú lištu"

    210		"Vo¾by zobrazenia"
    212		"Normálne zobrazenie"
    213		""
    214		"Prispôsobi ve¾ké obrázky"
    215		""
    216		"Prispôsobi všetky obrázky"
    217		""
    220		"Centrova obrázok"
    221		""
    222		"Zobrazi posuvné lišty"
    223		""

    230		"Priblíženie"
    232		"Zväèši"
    233		"Zväèši o 50%"
    234		"Zmenši"
    235		"Zmenši o 50%"
    236		"6%"
    237		""
    238		"12%"
    239		""
    240		"25%"
    241		""
    242		"50%"
    243		""
    244		"75%"
    245		""
    246		"100%"
    247		"Pôvodné priblíženie"
    248		"150%"
    249		""
    250		"200%"
    251		""
    252		"400%"
    253		""

    260		"Prispôsobi oknu"
    261		""
    262		"Prispôsobi na šírku"
    263		""
    264		"Prispôsobi na výšku"
    265		""

    270		"Otoèi poh¾ad v smere hodinových ruèièiek"
    271		""
    272		"Otoèi poh¾ad proti smeru hodinových ruèièiek"
    273		""

    276		"Vlastné..."
    277		"Nastavi vlastné priblíženie"

    280		"Strany"
    282		"Prvá strana"
    283		""
    284		"Predchádzajúca strana"
    285		""
    286		"Ïalšia strana"
    287		""
    288		"Posledná strana"
    289		""
    290		"Choï na stranu"
    291		""
    292		"Extrahova stranu"
    293		""

    300		"Animácia"
    302		"Prehra"
    303		""
    304		"Pozastavi"
    305		""
    306		"Zastavi"
    307		""

    310		"Choï kam..."
    312		"Spä"
    313		"Choï na predchádzajúci obrázok v súèasnom adresári"
    314		"Dopredu"
    315		"Choï na ïalší obrázok v súèasnom adresári"
    316		"prvý"
    317		"Choï na prvý obrázok v súèasnom adresári"
    318		"Posledný"
    319		"Choï na posledný obrázok v súèasnom adresári"
    320		"Náhodne"
    321		"Choï na náhodný obrázok v súèasnom adresári"

    326		"Prezentácia"
    327		"Prezentácia"
    328		"Spusti prezentáciu"
    329		"Spusti prezentáciu okamžite"
    330		"Celá obrazovka"
    331		"Prepnú celoobrazovkový režim"

    350		"Vo¾by..."
    351		"Nastavi %s ako sa Vám páèi"

    362		"%s webstránka"
    363		"Otvori %s webstránku"
    364		"O programe..."
    365		"O %s"
    366		"Online dokumentácia"
    367		"Preèítajte si najnovšiu dokumentáciu online"

    370		"Minimalizova"
    371		""

    400		"Otvori obrázok ..."
    401		"Ve¾kos: %s x %s"
    402		"Nie sú dostupné žiadne informácie o ve¾kosti"
    403		"Súbor: %s"
    404		"Typ: %s"
    405		"Uloži obrázok ako..."
    406		"Podporovaný"
    407		"Nie podporovaný"
    408		"Všetky súbory"
    409		"Nepomenovaný"
    410		"Otvori %s"
    411		"Neznámy typ obrázka"

    500		"Hlavný panel nástrojov"
    502		"Otvori"
    503		"Otvori|Otvori nový obrázok"
    504		"Posledný"
    505		"Posledný obrázok|Otvor posledný obrázok"
    506		"Uloži"
    507		"Uloži ako...|Uloži obrázok v rôznych formátoch"
    508		"Zatvori"
    509		"Zatvori|Zatvori obrázok"
    510		"Tlaèi"
    511		"Tlaèi|Tlaèi obrázok (podržte SHIFT na preskoèenie náh¾adu)"
    512		"Kopírova"
    513		"Kopírova|Kopírova obrázok do schránky"
    514		"Prilepi"
    515		"Prilepi|Prilepi z schránky"
    516		"Predchádzajúci"
    517		"Predchádzajúca strana|Choï na predchádzajúcu stranu"
    518		"Ïalší"
    519		"Ïalšia strana|Choï na ïalšiu strana"
    520		"Informácie"
    521		"Informácie o súbore|Zobrazi informácie o súbore"
    522		"Zväèši"
    523		"Zväèši|Priblíži o 50%"
    524		"Zmenši"
    525		"Zmenši|Zmenši o 50%"
    526		"Otoèi"
    527		"Otoèi|Otoèi obrázok o 90 stupòov v smere hodinových ruèièiek"
    528		"Priblíži"
    529		"Priblíži|Nastavi priblíženie obrázka"
    530		"Zobrazenie"
    531		"Zobrazi Vo¾by|Zmena rôznych volieb zobrazenia"
    532		"Celá obrazovka"
    533		"Celá obrazovka|Prepnú na celoobrazovkový režim"
    534		"Editor"
    535		"Editor|Otvori vstavaný editor"
    536		"Spä"
    537		"Spä|Choï na predchádzajúci obrázok v súèasnom adresári (podržte SHIFT pre skok na prvý obrázok v adresári)"
    538		"Dopredu"
    539		"Dopredu|Choï na ïalší obrázok v súèasnom adresári (podržte SHIFT pre skok na posledný obrázok v adresári)"
    540		"Spä"
    541		"Spä|Krok spä pre poslednú úpravu"
    542		"Choï náhodne"
    543		"Náhodne|Ís na náhodný súbor v súèasnom adresári"
    544		"Prisôsobi oknu"
    545		"Prisôsobi|Prispôsobí ve¾kos obrázka ve¾kosti okna"

    600		"Všeobecná chyba"
    601		"Nemôžem naèíta importný zásuvný modul."
    602		"Nemôžem naèíta exportný zásuvný modul."
    603		"Nemôžem naèíta zásuvný modul nástrojov."
    604		"Vyh¾adávanie zásuvných modulov ukonèené."
    605		"Nemôžem naèíta knižnicu pomocníka."
    606		"Zmena ve¾kosti nemožná - nie je otvorené žiadne okno editora."

    610		"Naozaj by ste chceli odstráni súèasný súbor?"
    611		"Vyberte cie¾ový adresár ..."
    612		"Vpíšte meno pre nový súbor (vrátane prípony) ..."
    613		"Súbor tohto mena už v cie¾ovom adresári existuje. Chceli by ste ho prepísa?"

    620		"Súbor neexistuje."
    621		"Je nevyhnutné vpísa platnú hodnotu."

    630		"Choï na strana"
    631		"Vpíšte èíslo strany na ktorú chcete ís... (interval od 1 do %s)"
    632		"Strana neexistuje."

    640		"%s Dokument"
    641		"&Otvori"

    700		"O %s"
    701		"Navštívi %s webstránku"

    710		"Vlastné priblíženie"
    711		"Vlastné priblíženie"

    720		"Prezentácia"
    721		"Èasovaè:"
    722		"Nastavi"
    723		" Smer "
    724		"Normálne"
    725		"Opaène"
    726		"Náhodne"
    727		"Stlaète [F3] na prepnutie tohto panela nástrojov poèas prezentácie"
    728		"Prezentácia (Zaèaté, %s sek.)"

    730		"Histogram"
    731		"Èervená"
    732		"Zelená"
    733		"Modrá"
    734		"Šedá"

    740		"Nový obrázok"
    741		" ve¾kos "
    742		" Farba pozadia "
    743		"Šírka:"
    744		"Výška:"
    745		"Kliknite sem pre výber farby"

    750		"Informácie o obrázku"
    751		"Všeobecné"
    752		"EXIF"
    753		"EXIF zmenšenina"
    754		"Histogram"
    755		"K¾úèe"
    756		"Hodnoty"

    800		"Otoèi obrázok"
    801		"Uhol:"
    802		"Kvalita:"
    803		"Najvyššia (ve¾mi pomalé)"
    804		"Vysoká (pomalé)"
    805		"Nízka"
    806		"Najnižšia (rýchle)"

    810		"Zmeni ve¾kos obrázka"
    811		"Uloži proporcie"
    812		"Ve¾kos"
    813		"Škálova"
    814		"Metóda"
    815		"Šírka:"
    816		"Výška:"
    817		"pixelov"
    818		"%%"
    819		"Metóda:"
    820		"Bikubická"
    821		"Bilineárna"
    822		"Rýchla lineárna"
    823		"Lineárna"
    824		"Najbližšie"
    825		"Mitchell"
    826		"Lanczos3"
    827		"BSpline"
    829		"Bell"
    830		"Hermite"
    831		"Trojuholník"
    832		"Žiadna"

    840		"Vo¾by"
    841		"Všeobecné Vo¾by"
    842		"GUI"
    843		"Formáty súborov"
    844		"Jazyky"
    845		"Pokroèilé"
    846		"Zobrazi celú cestu k obrázku v názve okna"
    847		"Otvori výsledný obrázok po uložení"
    848		"Zobrazi predvolene všetky súbory v dialógu Otvori"
    849		"Zakáza zoznam nedávnych súborov"
    850		"Spustenie v celoobrazovkovom režime"
    851		"Vyprázdni zoznam nedávnych súborov"
    852		""
    853		"Farba okna:"
    854		"Farba v režime Celá obrazovka:"
    855		"Prípony:"
    856		"Zmeni opis súborov"
    857		"Obnovi predvolený prehliadaè ikon systému Windows"
    858		"Vybra všetky"
    859		"Nevybra žiadne"
    860		"Obnovi"
    861		" Vybra ikonu "
    862		"Zásuvné moduly"
    863		"H¾ada nové zásuvné moduly"
    864		"Otvori adresár zásuvných modulov"
    865		"Získa viac zásuvných modulov..."
    866		"Výkon"
    867		"Nainštalované zásuvné moduly:"
    868		"Progresívne naèítanie obrázkov (môže sponali naèítanie obrázkov)"
    869		"Použi pomalší vysoko kvalitný zobrazovací filter"	
    870		"Zmena opisu"
    871		"Môžete zmeni opis podporovaných súborov, ktoré vidíte vo Windows Exploreri..."
    872		"Hotovo."
    873		"Oneskorenie zobrazovacieho filtra pri posúvaní obrázka"
    874		"Povoli viacero inštancií programu"
    875		"Opaèný smer"

    880		"%s - Editor"
    881		"Panel nástrojov editora"
    882		"Vybra"
    883		"Nástroj výberu"
    884		"Ruka"
    885		"Nástroj Ruka"
    886		"Kreslenie"
    887		"Nástroje na kreslenie"
    888		"Vystrihnú"
    889		"Vystrihnú"
    890		"Kopírova"
    891		"Kopírova"
    892		"Prilepi"
    893		"Prilepi"
    894		"Prilepi+"
    895		"Prilepi (roztiahnuté)"
    896		"Krok spä"
    897		"Krok spä"
    898		"Krok vpred"
    899		"Krok vpred"
    900		"Režim prispôsobi"
    901		"Režim prispôsobi"
    902		"Priblíži"
    903		"Priblíži"
    904		"Výber"
    905		"Výber"
    906		"Odstráni"
    907		"Odstráni"
    908		"Zmeni ve¾kos"
    909		"Zmeni ve¾kos obrázka"
    910		"Oreza"
    911		"Oreza obrázok"
    912		"Otoèi"
    913		"Otoèi obrázok"
    914		"Vybra všetko"
    915		""
    916		"Invertova výber"
    917		""
    918		"Odstráni výber"
    919		""
    920		"Filtre"
    921		"    Farba:  "

    1000	"JPEG / Joint Photographic Experts Group"
    1001	"JPEG 2000"
    1002	"CompuServe GIF"
    1003	"Portable Bitmap"
    1004	"Portable Graymap"
    1005	"Portable Pixelmap"
    1006	"Windows Bitmap"
    1007	"Enhanced Metafile"
    1008	"Windows Metafile"
    1009	"ZSoft Paintbrush"
    1010	"Multi-page ZSoft Paintbrush"
    1011	"PNG / Portable Network Graphics"
    1012	"Truevision Targa"
    1013	"Tag Image formát súboru"
    1014	"Wireless Bitmap"
    1015	"MNG / Multiple-image Network Graphics"
    1016	"JNG / JPEG Network Graphics"
    1017	"Kodak Photo CD"
    1018	"EPS thumbnail / Encapsulated PostScript"
    1019	"Autodesk obrázok"
    1020	"Adobe Photoshop"
    1021	"Adobe PhotoDeluxe"
    1022	"Corel/Jasc PaintShop Pro"
    1023	"Commodore 64 Koala formát"
    1024	"Amiga IFF"
    1025	"DirectDraw Surface"
    1026	"Sun Rasterfile"
    1027	"X11 Bitmap formát"
    1028	"X11 Pixmap formát"
    1029	"Windows Icon"
    1030	"HDR / High Dynamic Range"
    1031	"PDF / Portable Document Format"
    1032	"PostScript"
    1033	"Windows Cursor"
    1034	"ASCII Text Art"
    1035	"Canon RAW Digital Camera Dump"
    1036	"Adobe Digital Negative"
    1037	"Nikon RAW Digital Camera Dump"
    1038	"RAW Digital Camera Dump"
    1039	"Fuji RAW Digital Camera Dump"
    1040	"JBIG"
    1041	"DICOM / Digital Imaging and Communications v Medicine"
    1042	"Dr. Halo"
    1043	"AVS X Image"
    1044	"Kodak Cineon"
    1045	"Graph Visualization"
    1046	"SMPTE Digital Moving Picture Exchange"
    1047	"Flexible Image Transport System"
    1048	"FlashPix"
    1049	"MATLAB"
    1050	"ImageMagick"
    1051	"MTV Raytracing"
    1052	"Palm Pixmap"
    1053	"Apple Macintosh QuickDraw/PICT"
    1054	"Alias/Wavefront RLE Image"
    1055	"Seattle File Works"
    1056	"Alias/Wavefront obrázok"
    1057	"Irix RGB obrázok"
    1058	"Sun Rastersúbor"
    1059	"SVG / Scalable Vector Graphics"
    1060	"TrueType Font"
    1061	"VICAR Rastersúbor"
    1062	"Khoros VIFF / Visualization obrázok súbor formát"
    1063	"GIMP obrázok"

    1200	"Cesta"
    1201	"Ve¾kos súboru"
    1202	"%f Gb"
    1203	"%f Mb"
    1204	"%f Kb"
    1205	"Èasové razítko súboru"
    1206	"Rozmery"
    1207	"%s x %s"

    1220	"JPEG kompresia"
    1221	"%s%% (odhad)"
    1222	"Výrobca"
    1223	"Model"
    1224	"Rozmery obrázka"
    1225	"%d x %d Pixelov"
    1226	"Rozlíšenie"
    1227	"%.1f MP (odhad)"
    1228	"Zmenšenina"
    1229	"Dostupné (viï ""%s"" strana)"
    1230	"Pôvodný dátum"
    1231	"Nový dátum"
    1232	"X Rozlíšenie"
    1233	"Y Rozlíšenie"
    1234	"Software"
    1235	"ISO"
    1236	"FNumber"
    1237	"Èas expozície"
    1238	"1/%d sec"
    1239	"Fokálna dåžka"
    1240	"%-4.1f mm."
    1241	"Program expozície"
    1242	"Ruèná kontrola"
    1243	"Normálna"
    1244	"Priorita apertúry"
    1245	"Priorita clony"
    1246	"Kreatívny (pomalý program)"
    1247	"Akcia (vysokorýchlostný program)"
    1248	"Režim portrétu"
    1249	"Režim krajiny"
    1250	"Zdroj svetla"
    1251	"Denné svetlo"
    1252	"Fluorescentný"
    1253	"Wolfrám"
    1254	"Blesk"
    1255	"Štandardné svetlo A"
    1256	"Štandardné svetlo B"
    1257	"Štandardné svetlo C"
    1258	"D55"
    1259	"D65"
    1260	"D75"
    1261	"Blesk"
    1262	"Blesk nepoužitý"
    1263	"Blesk použitý"
    1264	"Blesk použitý ale spätné svetlo blesku nebolo zistené"
    1265	"Blesk použitý and spätné svetlo blesku bolo zistené"
    1266	"Blesk použitý, povinný Blesk režim"
    1267	"Použitý vstavaný blesk"
    1268	"Max. hodnota apertúry"
    1269	"Režim merania"
    1270	"Priemer"
    1271	"Centrova vážený priemer"
    1272	"Bod"
    1273	"Multi-bod"
    1274	"Multi-segment"
    1275	"Èiastoèné"
    1276	"Hodnota odchýlky expozície"
    1277	"Hodnota jasu"
    1278	"Metóda snímania"
    1279	"1 èipový senzor farebnej oblasti"
    1280	"Biela"
    1281	"Referenèná Èierna Biela"
    1282	"YCbCr koeficienty"
    1283	"FlashPix verzia"
    1284	"sRGB"
    1285	"Nekalibrované"
    1286	"Farebný priestor"
    1287	"Fokálna Rovina X Rozlíšenie"
    1288	"Fokálna Rovina Y Rozlíšenie"
    1289	"Fokálna Rovina Rozlíšenie Unit"
    1290	"Bez jednotky"
    1291	"Palce"
    1292	"Centimetre"
    1293	"Primárne Chromaticity"
    1294	"EXIF verzia"
    1295	"Komprimované bity na pixel"
    1296	"Rozlíšenie jednotky"
    1297	"YCbCr poziciovanie"
    1298	"Stred po¾a pixelov"
    1299	"Dátum"
    1300	"Orientácia"
    1301	"Vrchná ¾avá strana"
    1302	"Vrchná pravá strana"
    1303	"Spodná pravá strana"
    1304	"Spodná ¾avá strana"
    1305	"¼avá strana vrch"
    1306	"Pravá strana vrch"
    1307	"Pravá strana spodok"
    1308	"¼avá strana spodok"
    1309	"Opis obrázka"
    1310	"Typ scény"
    1311	"Vzdialenos objektu"
    1312	"Subsec èas"
    1313	"Subsec èas pôvodný"
    1314	"Related Sound súbor"
    1315	"Expozièný index"
    1316	"Zdroj súboru"
    1317	"Digitálny fotoaparát"
    1318	"Copyright"
    1319	"Kód užívate¾ského komentára"
    1320	"Užívate¾ský komentár"

    1750	"Invertova"
    1751	"Odtiene šedej"
    1752	"Odstránenie èervených oèí"
    1753	"Zmeni ve¾kos"
    1754	"Otoèi"

    3000	"Zobrazi ako pozadie pracovnej plochy..."
    3001	"Nastavi ako pozadie pracovnej plochy..."
    3002	"Zobrazi ako pozadie pracovnej plochy"
    3003	"Vlastné:"

    3004	"x"
    3005	"%s x %s"
    3006	"Nastavi vlastné" 
    3007	"Nastavi ako pozadie pracovnej plochy"
    3008	" pozícia pozadia pracovnej plochy "
    3009	"Centrova"
    3010	"Opakova"
    3011	"Roztiahnu"

    3015	"Zobrazi ako HEX..."
    3016	"Zobrazi ako HEX"
    3017	"Tento nástroj dokáže zobrazi len existujúce súbory."

    3020	"Pokroèilý GIF Export..."
    3021	"GIF Export"
    3022	"Nastavenia"
    3023	"Náh¾ad"
    3024	" Redukcia farieb "
    3025	"Žiadna"
    3026	"Windows 20 farieb"
    3027	"Windows 256 farieb"
    3028	"Windows odtiene šedej"
    3029	"Monochromatická"
    3030	"Odtiene šedej"
    3031	"Netscape bezpeèné webové farby"
    3032	"Optimálnych 256 farieb"
    3033	" Rozptyl "
    3034	"Najbližšie"
    3035	"Floyd Steinberg"
    3036	"Stucki"
    3037	"Sierra"
    3038	"Jarvis, Judice and Ninke"
    3039	"Stevenson and Arche"
    3040	"Burkes"
    3041	"Uloži ako GIF..."

    3050	"Úprava farieb"
    3051	"Jas"
    3052	"Gaussovské rozmazanie"
    3053	"Rozdelené rozmazanie"
    3054	"Prida farebný ruch"
    3055	"Vyhladi okraje"
    3056	"Kontrast"
    3057	"Svetlos"
    3058	"Tmavos"
    3059	"Nasýtenie"
    3060	"Mozaika"
    3061	"Opakova"
    3062	"Pretlaèenie"
    3063	"Solarizácia"
    3064	"Posterizácia"

    3070	"Jas"
    3071	" Jas "
    
    3075	"Zmeni farby obrázka"
    3076	"Èervená:"
    3077	"Zelená:"
    3078	"Modrá:"

    3080	"Získa obrázok z digitálneho fotoaparátu alebo skenera..."
    3081	"Vytvori HTML pre obrázok..."
    3082	"Chceli by ste vytvori HTML wrapper pre súèasný obrázok?"
    3083	"chyba poèas ukladania výsledného HTML súboru."
    3084	"HTML súbor vytvorený v: ""%s"""
    3085	"Tento nástroj dokáže pracova len s uloženými obrázkami."
    3086	"Uloži ako JPEG"
    3087	" Kvalita "
    3088	"Progresívny"
    3089	"Optimalizovaný (dlhšie sa ukladá)"
    3090	"Uloži ako JPEG2000"
    3091	" Úroveò kompresie "
    3092	"Bezstratová"
    3093	"Uloži ako TIFF"
    3094	" Kompresia "
    3095	"None"
    3096	"LZW"
    3097	"JPEG"
    3098	"PackBits"
    3099	"CCITT (Huffman)"
    3100	"CCITT G3, 1D"
    3101	"CCITT G3, 2D"
    3102	"CCITT G4, 2D"
    3103	" Úroveò kompresie (len pre JPEG) "

    3110	"Zachytenie obrazovky..."
    3111	"Zachytenie obrazovky"
    3112	"Zachytenie"
    3113	" Zachytenie "
    3114	"Pracovná plocha"
    3115	"Mnohouholník"
    3116	"Výber"
    3117	"Aktívne okno"
    3118	"Skry toto okno"
    3119	"Zachyti kurzor"
    3120	"Povoli 5 sekundové oneskorenie"

    3130	"Paintbrush formát obrázka"
    3131	"EGA 16-bit color obrázok"
    3132	"Výplò je prázdna"
    3133	"Výplò nie je prázdna"
    3134	"Výrobca"
    3135	"Verzia"
    3136	"Kódovanie"
    3137	"Bity na Pixel"
    3138	"¼avo"
    3139	"Vrch"
    3140	"Šírka"
    3141	"Výška"
    3142	"Horizontálne rozlíšenie"
    3143	"Vertikálne Rozlíšenie"
    3144	"Farebné roviny"
    3145	"Byty na riadok"
    3146	"Typ palety"
    3147	"Horizontálna Ve¾kos obrazovky"
    3148	"Vertikálna ve¾kos obrazovky"
    3149	"Výplò"
    3150	"Ve¾kos obrázka (v bytoch)"
    3151	"Ve¾kos súboru (v bytoch)"
    3152	"%s (neoèakávané!)"
    3153	"%s (platné)"
    3154	"Všetky farby"
    3155	"Typ"
    3156	"Ve¾kos súboru (z hlavièky)"
    3157	"Kompresia"
    3158	"Horizontálne rozlíšenie (pixely na meter)"
    3159	"Vertikálne rozlíšenie (pixely na meter)"
    3160	"Použité farby"
    3161	"Dôložité farby"
    3162	"Ikona"
    3163	"Typová nezhoda"
    3164	"Poèet vstupov v adresári ikon"
    3165	"Vstupy"
    3166	"#%d : %dx%d, %d bitov, %d bytov."
    3167	"#%d : %dx%d, %d bitov, %d bytov."
    3168	"Truevision TGA Version 2.0"
    3169	"Pôvodný TGA formát"
    3170	"Neobsahuje obrázkové údaje"
    3171	"Nekomprimovaný, Color-mapovaný obrázok"
    3172	"Nekomprimovaný, True-color obrázok"
    3173	"Nekomprimovaný, èiernobiely obrázok"
    3174	"Run-length encoded, Color-mapovaný obrázok"
    3175	"Run-length encoded, True-color obrázok"
    3176	"Run-length encoded, èiernobiely obrázok"
    3177	"%d-%d-%d %d:%d:%d "
    3178	"Prípona"
    3179	"Autor"
    3180	"Pripomienky"
    3181	"Èasové razítko"
    3182	"Súèasnos"
    3183	"Žiadne"
    3184	"(zoradené)"
    3185	"(nezoradené)"
    3186	"Neboli zadané informácie."
    3187	"Globálna tabu¾ka farieb"
    3188	"Globálna tabu¾ka farieb - ve¾kos (v bytoch)"
    3189	"Pomer strán"
    
    3250	"Tlaèi Náh¾ad"
    3251	"Tlaèi"
    3252	""
    3253	"Priblíži"
    3254	""
    3255	"Nastavenie"
    3256	""
    3257	"Proporcionálne"
    3258	"Zmenši ve¾ké obrázky"
    3259	"Centrova"
    3260	"Nemôžem získa súèasný obrázok pre hostite¾skú aplikáciu."
    3261	"Nenájdená žiadna tlaèiareò."

    3300	"Funkcie šípiek klávesnice:"
    3301	"Súborová navigácia"
    3302	"Posúvanie obrázka"
    3303	"Správanie sa klávesy Enter:"
    3304	"Prepána medzi režimami zobrazenia"
    3305	"Prepni celoobrazovkový režim"
    3306	"Povoli režim zobrazenia ""Prispôsobi všetko"""
    3307	"Prepni na celoobrazovkový režim pri dvojkliku na obrázok"
    3308	"Nie je odporúèané kombinova vysoko kvalitný zobrazovací filter s progresívnym naèítaním obrázkov (viï vo¾bu vo ""Všeobecné"")"
    3309	"Povoli h¾adanie vložených farebných profilov"
    3310	"Otvor všetky obrázky priamo do pamäte"
    3311	"Nepoužívajte túto vo¾bu ak má Váš poèítaè menej ako 1Gb RAM a pozeráte ve¾ké obrázky"
    3312	"Predvolená funkcia kolieska myši:"
    3313	"Priblíženie obrázka"
    3314	"Pri kliknutí a ahaní myšou:"
    3315	"Posunú obrázok"
    3316	"Priblíži do vybraného obdåžnika"
    3317	"Pri otvorení nového obrázka:"
    3318	"Ponecha predchádzajúci stav zobrazenia (a priblíženie na 100% v normálnom stave)"
    3319	"Nerobi niè (ponecha predchádzajúce priblíženie a stav zobrazenia)"
    3320	"Nastavi stav zobrazenia do ""Prispôsobi ve¾ké"""
    3321	"Nastavi stav zobrazenia do ""Prispôsobi všetky"""
    3322	"Nastavi stav zobrazenia do ""Normálne"" a obnovi priblíženie na 100%"
    3323	"Nastavi stav zobrazenia do ""Normálne"" a ponecha predchádzajúce priblíženie"

    3400	"JPEG bezstratové transformácie"
    3401	"JPEG bezstratové transformácie..."
    3402	"Táto funkcia pracuje len s uloženými JPEG súbormi."
    3403	"_zmenený"			// this string will be part of the generated file name!
    3404	"Otoèi o 90°"
    3405	"Otoèi o 180°"
    3406	"Otoèi o 270°"
    3407	"Zrkadlový odraz horizontálny"
    3408	"Zrkadlový odraz vertikálny"
    3409	"Transponova"
    3410	"Prieèny"
    3411	"Vystrihnú"
    3412	"Odstráni meta dáta"
    3413	"Varovanie! Súèasný obrázok môže strati až 16 pixelov z údajov obrázka pri okrajoch (aby bezstratové JPEG transformácie fungovali správne, rozmery obrázka by mali by násobkom 8)."

    3500	"Upravi..."
    3501	""
    3502	"Odde¾ovaè"
    3503	"Upravi panel nástrojov"
    3504	"Dostupné tlaèidlá:"
    3505	"Hlavný panel nástrojov:"
    3506	"Prida >"
    3507	"< Odstráni"
    3508	"Resetova"

    3600	"Odosla e-mailom..."
END
