STRINGTABLE 
BEGIN
    1           "FLocaleR1"                                     // do not change this!
    2           "US English"                                    // name of the locale language
    3           "ENU"                                           // short abbreviation of the language
    4           "US English localization for Futuris Imager"    // locale description (optional)
    5           "Alexander Tereshchenko"                        // locale author (optional)
    6           "© 1999-2005 Alexander Tereshchenko"            // copyright of locale author (optional)
    7           "http://www.fxfp.com/"                          // URL for locale updates (optional)
    8           "5.3"                                           // last version of Futuris Imager tested

    // root menu items
    100		"&File"
    101		"&Edit"
END

