*.dsk
Imager/code/output/*
Imager/manual/thirdparty/*
Imager/release/*.bpl
Imager/release/*.dll
Imager/release/*.exe
Imager/release/*.chm
Imager/code/shared/AgOpenDialog.pas
Imager/code/shared/AgOpenDialog.res
Imager/code/shared/ColorPickerButton.dcr
Imager/code/shared/ColorPickerButton.pas
Imager/code/shared/DELPHIAREA.INC
Imager/code/shared/DFS.INC
Imager/code/shared/img_core.dcp
Imager/code/shared/MRUfiles.d32
Imager/code/shared/MRUfiles.pas
Imager/code/shared/RotImg.dcr
Imager/code/shared/RotImg.pas
Imager/code/shared/RotImgReg.pas
Imager/code/shared/TileImage.dcr
Imager/code/shared/TileImage.pas
