*.dsk
Imager/code/output/*
Imager/manual/thirdparty/*
Imager/release/*.bpl
Imager/release/*.dll
Imager/release/*.exe
Imager/release/*.chm
Imager/code/shared/AgOpenDialog.pas
Imager/code/shared/AgOpenDialog.res
Imager/code/shared/ColorPickerButton.dcr
Imager/code/shared/ColorPickerButton.pas
Imager/code/shared/DELPHIAREA.INC
Imager/code/shared/DFS.INC
Imager/code/shared/img_core.dcp
Imager/code/shared/MRUfiles.d32
Imager/code/shared/MRUfiles.pas
Imager/code/shared/RotImg.dcr
Imager/code/shared/RotImg.pas
Imager/code/shared/RotImgReg.pas
Imager/code/shared/TileImage.dcr
Imager/code/shared/TileImage.pas
Imager/manual/developer/components/*
Imager/misc/futuris_imager_5.4_early/*
Imager/code/shared/*.dcp
Imager/misc/*
Imager/bin/*
Imager/doc/developer/components/*
Imager/src/shared/*.dcp
Imager/redist/*.exe
Imager/doc/developer/plugins/source/plugins/fimg/library/*
Imager/src/plugins/fimg/library/*
*.user
*.suo
Imager/redist/international/*/*.dll
Imager/redist/output/*
