FuturixImager/Bin/*
FuturixImager/Source/Trash/*
*.identcache
*.dproj.local
*.user
*.suo
FuturixImager/Source/Plugins/fimg/library/Source/*
FuturixImager/Source/Plugins/fimg/library/Dist/*
*.dsk
FuturixImager/Installer/Output/*
FuturixImager/Help/Developer/plugins/thirdparty/delphi/*
FuturixImager/Help/Developer/plugins/source/plugins/fimg/library/Source/*
FuturixImager/Help/Developer/plugins/source/plugins/fimg/library/Dist/*
FuturixImager/Development/Scraps/__imageen/*
*.cbproj.local
FuturixImager/Source/Plugins/__nonmigrated/FreeImage/Library/Dist/*
FuturixImager/Source/Plugins/__nonmigrated/FreeImage/Library/Source/*
FuturixImager/Development/Scraps/nonmigratedplugins/FreeImage/Library/Dist/*
FuturixImager/Development/Scraps/nonmigratedplugins/FreeImage/Library/Source/*
FuturixImager/Development/Scraps/SharedOld/*
FuturixImager/Development/Scraps/oldSDK/plugins/source/plugins/fimg/library/Dist/*
FuturixImager/Development/Scraps/oldSDK/plugins/source/plugins/fimg/library/Source/*
FuturixImager/Development/Scraps/oldSDK/plugins/thirdparty/delphi/*
