STRINGTABLE 
BEGIN
    1		"FxImgLocaleR1"                                 // do not change this!
    2		"Japanese"                             			// name of the locale language (in English and translated)
    3		"jpn"                                           // ISO code of the language - http://www.w3.org/WAI/ER/IG/ert/iso639.htm (lowercase!)
    4		"bdog - bdog221b@softhome.net"        			// locale author (you!) - e-mail is optional
    5		"5.5"                      						// last version of Futuris Imager this locale was updated for

    50		"OK"
    51		"キャンセル"
    52		"はい"
    53		"いいえ"
    54		"閉じる"
    55		"適用"
    56		"保存"

    60		"開始"
    61		"停止"

    70		"不明"
    71		"その他"
    72		"使用不可"
    73		"適用できません"
    74		"N/A"
    75		"n/a"

    100		"ファイル(&F)"
    101		"編集(&E)"
    104		"表示(&V)"
    108		"ツール(&T)"
    110		"ヘルプ(&H)"

    120		"開く(&O)"
    121		"新しい画像を開く"
    122		"最近開いたファイル(&P)"
    124		"再読み込み(&R)"
    125		"現在の画像を再読み込み"
    126		"新しい画像の作成(&N)"
    127		"新しい画像の作成"
    128		"名前を付けて保存(&S)"
    129		"名前を付けて画像を保存"
    130		"閉じる(&C)"
    131		"現在の画像を閉じる"
    132		"インポート(&I)"
    134		"エクスポート(&E)"
    136		"ファイル情報(&F)"
    137		"ファイル情報を表示する"
    138		"ファイル操作(&L)"
    140		"ファイルを削除(&D)"
    141		"現在のファイルを削除"
    142		"ファイルをコピー(&C)"
    143		"現在のファイルをコピー"
    144		"ファイルの移動(&M)"
    145		"現在のファイルを移動"
    146		"ファイルのリネーム(&R)"
    147		"現在のファイルをリネーム"
    150		"印刷(&T)"
    151		"現在の画像を印刷"
    152		"印刷プレビュー(&V)"
    153		"印刷結果をプレビュー"
    154		"終了(&X)"
    155		"終了 %s"
    156		"最後に開いた画像を開く"
    157		"最後に開いた有効な画像を開く"

    170		"元に戻す(&U)"
    171		"画像を状態を元に戻す"
    172		"コピー(&C)"
    173		"クリップボードにコピー"
    174		"貼り付け(&P)"
    175		"クリップボードに貼り付け"
    176		"画像の編集(&E)"
    177		"画像エディタを開く"

    190		"ツールバー(&T)"
    192		"メインツールバー(&M)"
    193		"メインツールバーの表示/非表示"
    194		"ステータスバー(&S)"
    195		"ステータスバーの表示/非表示"

    210		"表示形式(&D)"
    212		"ノーマル表示(&N)"
    213		""
    214		"大きな画像をウインドウに合わせる(&F)"
    215		""
    216		"全ての画像をウインドウに合わせる(&I)"
    217		""
    220		"中心に表示(&C)"
    221		""
    222		"スクロールバーを表示(&H)"
    223		""

    230		"ズーム(&Z)"
    232		"拡大(&Z)"
    233		"50%拡大"
    234		"縮小(&O)"
    235		"50%縮小"
    236		"6%"
    237		""
    238		"12%"
    239		""
    240		"25%"
    241		""
    242		"50%"
    243		""
    244		"75%"
    245		""
    246		"100%"
    247		"オリジナルサイズ"
    248		"150%"
    249		""
    250		"200%"
    251		""
    252		"400%"
    253		""

    260		"ウインドウに合わせる(&V)"
    261		""
    262		"横幅に合わせる(&T)"
    263		""
    264		"縦幅に合わせる(&H)"
    265		""

    270		"時計回り90度回転"
    271		""
    272		"反時計回り90度回転"
    273		""

    276		"カスタム(&C)"
    277		"ズーム設定"

    280		"ページ"
    282		"最初のページへ"
    283		""
    284		"前のページへ"
    285		""
    286		"次のページへ"
    287		""
    288		"最後のページへ"
    289		""
    290		"ページの移動"
    291		""
    292		"ページの抽出"
    293		""

    300		"アニメーション(&A)"
    302		"再生(&P)"
    303		""
    304		"一時停止(&A)"
    305		""
    306		"停止(&S)"
    307		""

    310		"移動(&G)"
    312		"前へ(&B)"
    313		"現在のフォルダの前の画像へ"
    314		"次へ(&F)"
    315		"現在のフォルダの次の画像へ"
    316		"先頭へ(&I)"
    317		"現在のフォルダの先頭の画像へ"
    318		"最後へ(&L)"
    319		"現在のフォルダの最後の画像へ"
    320		"ランダム(&R)"
    321		"現在のフォルダのランダムな画像へ"

    326		"スライドショー(&S)"
    327		"スライドショー"
    328		"スライドショーの開始(&A)"
    329		"すぐに開始"
    330		"フルスクリーン(&F)"
    331		"フルスクリーンモードに変更"

    350		"オプション(&O)"
    351		"%sの設定あなたの使い方に変更"

    362		"%sのサイトへ(&F)"
    363		"%sのサイトを開く"
    364		"FuturixImagerとは(&A)"
    365		"%s について"
    366		"オンライン説明書"
    367		"最新の説明書をオンラインで読む(英語)"

    370		"最小化(&M)"
    371		""

    400		"画像を開く"
    401     "サイズ: %s x %s"
    402     "サイズ情報が利用できません"
    403     "ファイル: %s"
    404     "種類: %s"
    405		"名前を尾けて保存"
    406     "対応しています"
    407     "対応していません"
    408     "すべてのファイル"
    409     "無題"
    410		"%sを開く"
    411		"未知の画像の種類"

    500		"メインツールバー"
    502		"開く"
    503		"開く|新しい画像を開く"
    504		"最後に開いた画像"
    505		"最後に開いた画像|最後に開いた画像を読み込み"
    506		"名前を付けて保存"
    507		"名前を付けて保存|画像形式を選択して保存"
    508		"閉じる"
    509		"閉じる|画像を閉じる"
    510		"印刷"
    511		"印刷|画像を印刷(SHIFTを押してプレビューをスキップ)"
    512		"コピー"
    513		"コピー|クリップボードからコピー"
    514		"貼り付け"
    515		"貼り付け|クリップボードから貼り付け"
    516		"前のページへ"
    517		"前のページへ|前のページへ移動"
    518		"次のページへ"
    519		"次のページへ|次のページへ移動"
    520		"ファイル情報"
    521		"ファイル情報|ファイル情報を表示"
    522		"拡大"
    523		"拡大|50％ズーム"
    524		"縮小"
    525		"縮小|50%ズームアウト"
    526		"回転"
    527		"回転|90度画像を右回転"
    528		"ズーム"
    529		"ズーム|画像のズーム設定"
    530		"表示形式"
    531		"表示形式|表示形式の変更(矢印をクリックしてメニューを表示)"
    532		"フルスクリーン"
    533		"フルスクリーン|フルスクリーンに変更"
    534		"エディタ"
    535		"エディタ|エディタを開く"
    536		"戻る"
    537		"戻る|現在のフォルダの前の画像に戻る(SHIFTを押しながらでフォルダの最初の画像に移動)"
    538		"進む"
    539		"進む|現在のフォルダの次の画像に移動(SHIFTを押しながらでフォルダの最後の画像に移動)"
    540		"元に戻す"
    541		"元に戻す|直前の操作を元に戻す"
    542		"ランダム表示"
    543		"ランダム表示|現在のフォルダからランダムに表示"
    544		"ウインドウサイズに合わせる"
    545		"フィット|画像をウインドウサイズに合わせる"

    600		"エラー"
    601		"インポートPlug-inを読み込めません"
    602     "エクスポートPlug-inを読み込めません"
    603     "ツールPlug-inを読み込めません"
    604     "Plug-in検索完了"
    605     "ヘルプライブラリーを読み込めません"
    606     "リサイズできません - エディタウインドウが開いていない"

    610     "現在のファイルを削除してもよろしいですか？"
    611     "目的のフォルダを選択"
    612     "新しい名前を入力してください (拡張し付きで)"
    613     "同じ名前のファイルが目的のフォルダに存在しています。上書きしてもよろしいですか？"

    620     "ファイルが存在していません"
    621     "有効な数字を入れる必要があります"

    630     "ページに移動"
    631     "ページ番号を入力(1 から %sの範囲で)"
    632     "ページが存在していません"

    640     "%s ドキュメント"
    641     "開く(&O)"

    700     "%s について"
    701     "%s のサイトへ行く"

    710     "ズーム設定"
    711     "ズーム設定"

    720     "スライドショー"
    721     "タイマー:"
    722     "セット"
    723     " 順番 "
    724     "ノーマル"
    725     "リバース"
    726     "ランダム"
    727     "[F3]で ツールバーの表示/非表示"
    728     "スライドショー (started, %s sec.)"

    730     "ヒストグラム(度数分布)"
    731     "赤色"
    732     "緑色"
    733     "青色"
    734     "灰色"

    740     "新規画像"
    741     " サイズ "
    742     " 背景色 "
    743     "横幅:"
    744     "縦幅:"
    745     "ここをクリックして色を選択"

    750     "画像情報"
    751     "全般"
    752     "EXIF"
    753     "EXIF サムネイル"
    754     "ヒストグラム"
    755     "キー"
    756     "値"

    800     "画像の回転"
    801     "アングル:"
    802     "質:"
    803     "最高 (とても低速)"
    804     "高い (低速)"
    805     "並"
    806     "低 (高速)"

    810     "画像のリサイズ"
    811     "形式を保存"
    812     "サイズ"
    813     "スケール"
    814     "メソッド"
    815     "横幅:"
    816     "縦幅:"
    817     "ピクセル"
    818     "%%"
    819     "メソッド:"
    820     "Bicubic"
    821     "Bilinear"
    822     "FastLinear"
    823     "Linear"
    824     "Nearest"
    825     "Mitchell"
    826     "Lanczos3"
    827     "BSpline"
    829     "Bell"
    830     "Hermite"
    831     "Triangle"
    832     "なし"

    840     "オプション"
    841     "全般"
    842     "GUI"
    843     "ファイル形式"
    844     "言語"
    845     "アドバンス"
    846     "ウインドウタイトルに画像のフルパスを表示"
    847     "保存後の画像を開く"
    848     "オープンダイアログで全てのファイルを表示"
    849     "最近開いたファイルリストを無効化"
    850     "フルスクリーンモードで開始"
    851     "最近開いたファイルリストをクリア"
    852     ""
    853     "ウインドウカラー:"
    854     "フルスクリーンカラー:"
    855     "関連付け(futuriximagerで開く):"
    856     "ファイル形式を変更"
    857     "Windows標準のアイコンビューアに戻す"
    858     "全て選択"
    859     "全て非選択"
    860     "更新"
    861     " アイコンの選択 "
    862		"プラグイン"
    863		"新しいプラグインを検索"
    864		"プラグインフォルダを開く"
    865		"さらにプラグインをゲット"
    866		"パフォーマンス"
    867		"インストール済みプラグイン:"
    868		"プログレッシブ方式(ちらつきが少い)で画像を開く(画像を開く速さは落ちるかも)"
    869		"高画質低速フィルタを使用する"
    870     "種類の変更"
    871     "サポートする形式に変更できます。これはWindows Explorerに表示されます"
    872     "終了"
    873		"画像スクロールで表示フィルタを遅延"

    880     "%s - エディタ"
    881     "エディタツールバー"
    882     "選択"
    883     "選択ツール"
    884     "手のひら"
    885     "手のひらツール"
    886     "描写"
    887     "描写ツール"
    888     "切り取り"
    889     "切り取り"
    890     "コピー"
    891     "コピー"
    892     "貼り付け"
    893     "貼り付け"
    894     "貼り付け+"
    895     "貼り付け (引き伸ばし)"
    896     "元に戻す"
    897     "元に戻す"
    898     "やり直し"
    899     "やり直し"
    900     "フィットモード"
    901     "フィットモード"
    902     "ズーム"
    903     "ズーム"
    904     "選択"
    905     "選択"
    906     "消す"
    907     "消す"
    908     "リサイズ"
    909     "画像のリサイズ"
    910     "抜き出し"
    911     "画像の抜き出し"
    912     "回転"
    913     "画像の回転"
    914     "すべて選択"
    915     ""
    916     "選択を反転"
    917     ""
    918     "選択をやめる"
    919     ""
    920     "フィルタ"
    921     "    カラー:  "

    1000    "JPEG / Joint Photographic Experts Group"
    1001    "JPEG 2000"
    1002    "CompuServe GIF"
    1003    "Portable Bitmap"
    1004    "Portable Graymap"
    1005    "Portable Pixelmap"
    1006    "Windows Bitmap"
    1007    "Enhanced Metafile"
    1008    "Windows Metafile"
    1009    "ZSoft Paintbrush"
    1010    "Multi-page ZSoft Paintbrush"
    1011    "PNG / Portable Network Graphics"
    1012    "Truevision Targa"
    1013    "Tag Image File Format"
    1014	"Wireless Bitmap"
    1015	"MNG / Multiple-image Network Graphics"
    1016	"JNG / JPEG Network Graphics"
    1017	"Kodak Photo CD"
    1018	"EPS thumbnail / Encapsulated PostScript"
    1019	"Autodesk Image"
    1020	"Adobe Photoshop"
    1021	"Adobe PhotoDeluxe"
    1022	"Corel/Jasc PaintShop Pro"
    1023	"Commodore 64 Koala format"
    1024	"Amiga IFF"
    1025	"DirectDraw Surface"
    1026	"Sun Rasterfile"
    1027	"X11 Bitmap Format"
    1028	"X11 Pixmap Format"
    1029	"Windows Icon"
    1030	"HDR / High Dynamic Range"
    1031	"PDF / Portable Document Format"
    1032	"PostScript"
    1033	"Windows Cursor"
    1034	"ASCII Text Art"
    1035    "Canon RAW Digital Camera Dump"
    1036    "Adobe Digital Negative"
    1037    "Nikon RAW Digital Camera Dump"
    1038    "RAW Digital Camera Dump"
    1039    "Fuji RAW Digital Camera Dump"
    1040    "JBIG"
    1041    "DICOM / Digital Imaging and Communications in Medicine"
    1042    "Dr. Halo"
    1043    "AVS X Image"
    1044    "Kodak Cineon"
    1045    "Graph Visualization"
    1046    "SMPTE Digital Moving Picture Exchange"
    1047    "Flexible Image Transport System"
    1048    "FlashPix"
    1049    "MATLAB"
    1050    "ImageMagick"
    1051    "MTV Raytracing"
    1052    "Palm Pixmap"
    1053    "Apple Macintosh QuickDraw/PICT"
    1054    "Alias/Wavefront RLE Image"
    1055    "Seattle File Works"
    1056    "Alias/Wavefront Image"
    1057    "Irix RGB Image"
    1058    "Sun Rasterfile"
    1059    "SVG / Scalable Vector Graphics"
    1060    "TrueType Font"
    1061    "VICAR Rasterfile"
    1062    "Khoros VIFF / Visualization Image File Format"
    1063    "GIMP Image"

    1200    "パス"
    1201    "ファイルサイズ"
    1202    "%f Gb"
    1203    "%f Mb"
    1204    "%f Kb"
    1205    "日付"
    1206    "寸法"
    1207    "%s x %s"

    1220    "JPEG 圧縮"
    1221    "%s%% (概算)"
    1222    "機器メーカー名"
    1223    "機器モデル名"
    1224    "画像寸法"
    1225    "%d x %d ピクセル"
    1226    "解像度"
    1227    "%.1f MP (概算)"
    1228    "サムネイル"
    1229    "使用可能 (""%s""ページ)"
    1230    "原画像データの生成日時"
    1231    "デジタルデータ作成日時"
    1232    "画像の幅の解像度"
    1233    "画像の高さの解像度"
    1234    "使用ソフトウェア名"
    1235    "ISO"
    1236    "Fナンバー"
    1237    "露出時間"
    1238    "1/%d 秒"
    1239    "レンズ焦点距離"
    1240    "%-4.1f mm."
    1241    "露出プログラム"
    1242    "手動制御"
    1243    "通常"
    1244    "絞り優先"
    1245    "シャッター優先"
    1246    "深度優先 (低速のプログラム)"
    1247    "スポーツ(高速のプログラム)"
    1248    "人物"
    1249    "風景"
    1250    "光源"
    1251    "太陽光"
    1252    "蛍光灯"
    1253    "タングステン"
    1254    "フラッシュ"
    1255    "標準光 A"
    1256    "標準光 B"
    1257    "標準光 C"
    1258    "D55"
    1259    "D65"
    1260    "D75"
    1261    "フラッシュ"
    1262    "非発光"
    1263    "発光"
    1264    "フラッシュ発光。しかし、リターン未検出"
    1265    "フラッシュ発光。リターン検出"
    1266    "フラッシュ発光。強制発光モード"
    1267    "内臓フラッシュ発光"
    1268    "レンズ最小F値"
    1269    "測光方式"
    1270    "平均"
    1271    "中央重点"
    1272    "スポット"
    1273    "マルチスポット"
    1274    "分割測光"
    1275    "部分測光"
    1276    "露光補正値"
    1277    "輝度値"
    1278    "センサー方式"
    1279    "単板カラーセンサ"
    1280    "参照白色点"
    1281    "参照黒色点値と参照白色点値"
    1282    "YCbCr 係数"
    1283    "対応FlashPixバージョン"
    1284    "sRGB"
    1285    "Uncalibrated"
    1286    "色空間情報"
    1287    "焦点面の幅の解像度"
    1288    "焦点面の高さの解像度"
    1289    "焦点面解像度単位"
    1290    "No unit"
    1291    "インチ"
    1292    "センチ"
    1293    "原色の色度座標値"
    1294    "バージョン"
    1295    "画像圧縮モード"
    1296    "画像の幅と高さの解像度の単位"
    1297    "画素構成"
    1298    "中心に配置"
    1299    "データポイント"
    1300    "画像方向"
    1301    "Top left side"
    1302    "Top right side"
    1303    "Bottom right side"
    1304    "Bottom left side"
    1305    "Left side top"
    1306    "Right side top"
    1307    "Right side bottom"
    1308    "Left side bottom"
    1309    "画像表記"
    1310    "シーンタイプ"
    1311    "被写体距離"
    1312    "Subsec Time"
    1313    "Subsec Time Original"
    1314    "関連音声ファイル"
    1315    "露出インデックス"
    1316    "ファイルソース"
    1317    "デジタルスチールカメラ"
    1318    "著作権"
    1319    "ユーザーコメントコード"
    1320    "ユーザーコメント"

    1750    "反転"
    1751    "グレイスケール"
    1752    "赤目補正"
    1753    "リサイズ"
    1754    "回転"
    
    3000	"壁紙として表示"
    3001	"壁紙として設定"
    3002	"壁紙として表示"
    3003	"カスタム:"
    3004	"x"
    3005	"%s x %s"
    3006	"カスタムにセット" 
    3007	"壁紙として設定"
    3008	" 壁紙位置 "
    3009	"中央"
    3010	"並べて表示"
    3011	"拡大して表示"
    
    3015	"HEXとして表示"
    3016	"HEXとして表示"
    3017	"このツールは存在するファイルのみを表示します"
    
    3020	"拡張GIFエクスポート"
    3021	"GIF エクスポート"
    3022	"設定"
    3023	"プレビュー"
    3024	" 原色 "
    3025	"None"
    3026	"Windows 20 色"
    3027	"Windows 256 色"
    3028	"Windows グレイスケール"
    3029	"モノクローム"
    3030	"グレイスケール"
    3031	"Netscape ウェブセーフ"
    3032	"Optimal 256 colors"
    3033	" ディザ "
    3034	"Nearest"
    3035	"Floyd Steinberg"
    3036	"Stucki"
    3037	"Sierra"
    3038	"Jarvis, Judice and Ninke"
    3039	"Stevenson and Arche"
    3040	"Burkes"
    3041	"GIFとして保存"
    
    3050	"色の調整"
    3051	"輝度値"
    3052	"ガウスぼかし"
    3053	"境界ぼかし"
    3054	"カラーノイズの追加"
    3055	"アンチエイリアス"
    3056	"コントラスト"
    3057	"明度"
    3058	"暗度"
    3059	"彩度"
    3060	"モザイク"
    3061	"並べて表示"
    3062	"エンボス"
    3063	"ポスタライズ"
    3064	"ポスタライズ"
    
    3070	"輝度値"
    3071	" 輝度値 "
    
    3075	"画像色の変更"
    3076	"赤色:"
    3077	"緑色:"
    3078	"青色:"
    
    3080	"デジタルカメラかスキャナーから画像を取り込む(&G)"
    3081	"画像のためのHTMLを作成"
    3082	"現在の画像からHTMLファイルを作成しますか？"
    3083	"HTMLファイル保存中ににエラーが発生しました"
    3084	"以下にHTMLファイルを作成: ""%s"""
    3085	"このツールは画像を保存する役割のみです"
    3086	"JPEGとして保存"
    3087	" 画質 "
    3088	"プログレッシブ方式"
    3089	"最適化 (保存にかかる時間が延長)"
    3090	"JPEG2000として保存"
    3091	" 圧縮レベル "
    3092	"ロスなし"
    3093	"TIFFとして保存"
    3094	" 圧縮 "
    3095	"なし"
    3096	"LZW"
    3097	"JPEG"
    3098	"PackBits"
    3099	"CCITT (Huffman)"
    3100	"CCITT G3, 1D"
    3101	"CCITT G3, 2D"
    3102	"CCITT G4, 2D"
    3103	" 圧縮レベル (JPEGのみ) "
    
    3110	"スクリーンをキャプチャ"
    3111	"スクリーンをキャプチャ"
    3112	"キャプチャ"
    3113	" キャプチャ "
    3114	"デスクトップ"
    3115	"ポリゴン"
    3116	"選択部"
    3117	"アクティブウインドウ"
    3118	"このウインドウを隠す"
    3119	"カーソルをキャプチャ"
    3120	"5秒遅延"
    
    3130	"Paintbrush format image"
    3131	"EGA 16-bit color image"
    3132	"Filler empty"
    3133	"Filler not empty"
    3134	"製造"
    3135	"バージョン"
    3136	"エンコーディング"
    3137	"色深度"
    3138	"レフト"
    3139	"トップ"
    3140	"横幅"
    3141	"縦幅"
    3142	"水平解像度"
    3143	"垂直解像度"
    3144	"Color Planes"
    3145	"行あたりのバイト数"
    3146	"パレットタイプ"
    3147	"水平スクリーンサイズ"
    3148	"垂直スクリーンサイズ"
    3149	"フィラー"
    3150	"画像サイズ (bytes)"
    3151	"ファイルサイズ (bytes)"
    3152	"%s (not expected!)"
    3153	"%s (valid)"
    3154	"すべての色"
    3155	"Type"
    3156	"ファイルサイズ (ヘッダーから)"
    3157	"圧縮"
    3158	"水平解像度 (pixels per meter)"
    3159	"垂直解像度 (pixels per meter)"
    3160	"Colors Used"
    3161	"Important Colors"
    3162	"Icon"
    3163	"Type mismatch"
    3164	"Number of entries in icon directory"
    3165	"エントリー"
    3166	"#%d : %dx%d, %d bits, %d bytes."
    3167	"#%d : %dx%d, %d bits, %d bytes."
    3168	"Truevision TGA Version 2.0"
    3169	"Original TGA Format"
    3170	"画像データが含まれていません"
    3171	"未圧縮, Color-mapped Image"
    3172	"U未圧縮, True-color Image"
    3173	"未圧縮, Black-and-white Image"
    3174	"Run-length encoded, Color-mapped Image"
    3175	"Run-length encoded, True-color Image"
    3176	"Run-length encoded, Black-and-white Image"
    3177	"%d-%d-%d %d:%d:%d "
    3178	"拡張"
    3179	"作者"
    3180	"コメント"
    3181	"日付"
    3182	"Present."
    3183	"None"
    3184	"(ソート済み)"
    3185	"(未ソート)"
    3186	"情報が与えられていません"
    3187	"Global Color Table"
    3188	"Global Color Table Size (bytes)"
    3189	"ピクセル　アスペクトレート"
    
    3250	"印刷プレビュー"
    3251	"印刷"
    3252	""
    3253	"ズーム"
    3254	""
    3255	"セットアップ"
    3256	""
    3257	"均整"
    3258	"大きな画像を収縮"
    3259	"中心に置く"
    3260	"ホストアプリケーションから現在の画像を得られません"
    3261	"プリンタが見つかりません."
    
    3300	"矢印キーの動作:"
    3301	"ファイルナビゲーション"
    3302	"画像のスクロール"
    3303	"Enterキーの動作:"
    3304	"表示モードの変更"
    3305	"フルスクリーンモードに変更"
    3306	"表示形式""全ての画像をウインドウに合わせる""を有効にする"
    3307	"画像をダブルクリックでフルスクリーンにする"
    3308	"プログレッシブ方式の画像読み込みと高画質表示フィルタとを組み合わせることは推奨しません"
    3309	"埋め込まれたカラープロファイルを検索可能にする"
    3310	"すべての画像を直接メモリーに読み込む"
    3311	"あなたのコンピュータのRAMが1Gb以下か大きな画像を見ているときはこのオプションを使わないで下さい"
    3312	"マウスホイールの動作:"
    3313	"画像のズーム"
    3314	"マウスのクリックとドラッグ:"
    3315	"画像のスクロール"
    3316	"選択部分をズーム"
    3317	"新しい画像を開く時:"
    3318	"前の表示状態を保つ(ノーマル状態で100％ズーム)"
    3319	"何もしない(前の表示状態とズームを保つ)"
    3320	"表示状態を ""大きな画像をウインドウに合わせる"""
    3321	"表示状態を ""すべての画像をウインドウに合わせる""にする"
    3322	"表示状態を ""ノーマル""にして、ズーム100％に再設定"
    3323	"表示状態を ""ノーマル""にして、前のズームサイズを引き継ぐ"
   
    3400	"JPEG 画像の変形"
    3401	"JPEG ロスなし変形"
    3402	"この機能はJPEG保存の時のみ働きます"
    3403	"_transformed"			// this string will be part of the generated file name!
    3404	"90度回転"
    3405	"180度回転"
    3406	"270度回転"
    3407	"左右反転"
    3408	"上下反転"
    3409	"転置(左上-右下の対角線を軸にして反転)"
    3410	"逆転置(右上-左下の対角線を軸にして反転)"
    3411	"切り取り"
    3412	"メタデータ削除"
    3413	"注意! 現在の画像は境界の近くの16ピクセルの画像データが失われるかもしれません(JPEG ロスなし変形を正確に作動さすには画像の寸法が8の倍数である必要があります)."
    
    3500	"カスタマイズ"
    3501	""
    3502	"セパレータ"
    3503	"ツールバーの設定"
    3504	"使用可能なボタン:"
    3505	"メインツールバー:"
    3506	"追加 >"
    3507	"< 削除"
    3508	"リセット"
    
    3600	"E-mailで送信"
END
