STRINGTABLE
BEGIN
    // required value (for compatibility check)
    1		"FxImgThemeR6"
    
    // name (in English)
    2		"Crystal"
    
    // description (leave empty if not needed)
    3		"Based on Crystal icons library - see http://www.everaldo.com/crystal/"

    // author
    4		"Alex Tereshchenko"
    
    // last version of FuturixImager tested with this
    5		"6.0"
END
