STRINGTABLE 
BEGIN
    1		"FxImgLocaleR1"                                 // do not change this!
    2		"Finnish"                                       // name of the locale language
    3		"fin"                                           // short abbreviation of the language
    4		"Mika Pirinen"                        		// locale author
    5		"5.6"                                 		// last version of Futuris Imager this locale was updated for
								// including beta number (if exist)
    50		"OK"
    51		"Peruuta"
    52		"Kyllä"
    53		"Ei"
    54		"Sulje"
    55		"Käytä"
    56		"Tallenna"

    60		"Aloita"
    61		"Lopeta"

    70		"Tuntematon"
    71		"Muu"
    72		"Ei ole saatavilla"
    73		"Ei ole käytettävissä"
    74		"ei löydy"
    75		"ei löydy"

    100		"Tiedosto"
    101		"Muokkaa"
    104		"Näytä"
    108		"Työkalut"
    110		"Ohje"

    120		"Avaa..."
    121		"Avaa kuvatiedosto"
    122		"Aiemmat tiedostot..."
    124		"Palauta"
    125		"Palauttaa viimeksi tallennetun version kuvasta"
    126		"Uusi..."
    127		"Luodaan uusi tyhjä kuva"
    128		"Tallenna nimellä..."
    129		"Tallennetaan kuva nimellä"
    130		"Sulje"
    131		"Suljetaan nykyinen kuva"
    132		"Nouda"
    134		"Vie"
    136		"Ominaisuudet"
    137		"Näytetään tiedoston tiedot"
    138		"Tiedostojen käsittely"
    140		"Poista tiedosto"
    141		"Poistetaan nykyinen tiedosto"
    142		"Kopioi tiedosto"
    143		"Kopioidaan nykyinen tiedosto"
    144		"Siirrä tiedosto"
    145		"Siirretään nykyinen tiedosto"
    146		"Nimeä uudelleen"
    147		"Nimeätään uudelleen nykyinen tiedosto"
    150		"Tulosta"
    151		"Tulostetaan nykyinen kuva"
    152		"Esikatselu..."
    153		"Näytetään esikatselukuva"
    154		"Lopeta"
    155		"Lopetetaan %s ohjelma"
    156		"Edellinen kuva"
    157		"Avataan edellinen avattu kuva"
    158		"Uusi ikkuna"
    159		"Avaa uuden ohjelmaikkunan"

    170		"Kumoa"
    171		"Perutaan tehty muutos"
    172		"Kopioi"
    173		"Kopioidaan leikepöydälle"
    174		"Liitä"
    175		"Liitätään leikepöydältä"
    176		"Muokkaus..."
    177		"Avataan sisäänrakennettu kuvanmuokkaus tila"

    190		"Työkalupalkit"
    192		"Työkalut"
    193		"Asetetaan työkalupalkin näkyvyys"
    194		"Tilapalkki"
    195		"Asetetaan tilapalkin näkyvyys"

    210		"Näytön asetukset"
    212		"Normaali"
    213		""
    214		"Sovita suuret kuvat"
    215		""
    216		"Sovita kaikki kuvat"
    217		""
    220		"Keskitä kuva"
    221		""
    222		"Näytä vierityspalkit"
    223		""

    230		"Zoomaa"
    232		"Zoomaa suuremmaksi"
    233		"Zoomaa 50% suuremmaksi"
    234		"Zoomaa pienemmäksi"
    235		"Zoomaa 50% pienemmäksi"
    236		"6%"
    237		""
    238		"12%"
    239		""
    240		"25%"
    241		""
    242		"50%"
    243		""
    244		"75%"
    245		""
    246		"100%"
    247		"Alkuperäinen koko"
    248		"150%"
    249		""
    250		"200%"
    251		""
    252		"400%"
    253		""

    260		"Sovita ruudulle"
    261		""
    262		"Sovita leveys"
    263		""
    264		"Sovita korkeus"
    265		""

    270		"Käännä myötäpäivään"
    271		""
    272		"Käännä vastapäivään"
    273		""

    276		"Mukautettu..."
    277		"Aseta mukautettu zoomaus"

    280		"Sivut"
    282		"Ensimmäinen sivu"
    283		""
    284		"Edellinen sivu"
    285		""
    286		"Seuraava sivu"
    287		""
    288		"Viimeinen sivu"
    289		""
    290		"Siirry sivulle..."
    291		""
    292		"Pura sivut"
    293		""

    300		"Animaatio"
    302		"Toista"
    303		""
    304		"Tauko"
    305		""
    306		"Pysäytä"
    307		""

    310		"Siirry"
    312		"Taaksepäin"
    313		"Siirry nykyisen kansion aikaisempaan kuvaan"
    314		"Eteenpäin"
    315		"Siirry nykyisen kansion seuraavaan kuvaan"
    316		"Alkuun"
    317		"Siirry nykyisen kansion ensimmäiseen kuvaan"
    318		"Loppuun"
    319		"Siirry nykyisen kansion viimeiseen kuvaan"
    320		"Satunnaiseen"
    321		"Siirry nykyisen kansion satunnaiseen kuvaan"

    326		"Diaesitys"
    327		"Diaesitys"
    328		"Aloita diaesitys"
    329		"Aloittaa diaesityksen välittömästi"
    330		"Täysiruutu"
    331		"Vaihdetaan täydenruudun tilaan"

    350		"Asetukset..."
    351		"Muokkaa %s haluamaksesi"

    362		"%s ohjelman kotisivu"
    363		"Avaa %sin kotisivu"
    364		"Tietoja ohjelmasta"
    365		"Tietoja %s ohjelmasta"
    366		"Ohjelman ohjeet"
    367		"Lue uusin käyttöohje internetistä"

    370		"Pienennä tehtäväpalkkiin"
    371		""

    400		"Avaa ..."
    401     "Koko: %s x %s"
    402     "kuvan koko ei ole tiedossa"
    403     "Tiedosto: %s"
    404     "Tyyppi: %s"
    405		"Tallenna nimellä"
    406     "Tuettu tiedostotyyppi"
    407     "Tiedostotyyppiä ei tueta"
    408     "Kaikki tiedostot"
    409     "Nimeämätön"
    410		"Avaa %s"
    411		"Tuntematon tiedostomuoto"

    500		"Työkalut"
    502		"Avaa"
    503		"Avaa|Avaa uusi kuva"
    504		"Viimeinen"
    505		"Edellinen kuva|Avataan edellinen avattu kuva"
    506		"Tallenna"
    507		"Tallenna nimellä...|Tallenna kuva halutulla nimellä ja tiedostomuodossa"
    508		"Sulje"
    509		"Sulje|Sulje kuva"
    510		"Tulosta"
    511		"Tulosta|Tulosta kuva"
    512		"Kopioi"
    513		"Kopioi|Kopioi kuva leikepöydälle"
    514		"Liitä"
    515		"Liitä|Liitä kuva leikepöydältä"
    516		"Aiempi"
    517		"Aiempi sivu|Siirry aiemmalle sivulle"
    518		"Seuraava"
    519		"Seuraava sivu|Siirry seuraavalle sivulle"
    520		"Ominaisuudet"
    521		"Ominaisuudet|Näytä tiedoston ominaisuudet"
    522		"Zoomaa suuremmaksi"
    523		"Zoomaa suuremmaksi|Zoomaa 50% suuremmaksi"
    524		"Zoomaa pienemmäksi"
    525		"Zoomaa pienemmäksi|Zoomaa 50% pienemmäksi"
    526		"Käännä"
    527		"Käännä|Käännä kuvaa 90° myötäpäivään"
    528		"Zoomaus"
    529		"Zoomaus|Aseta kuvan zoomaus"
    530		"Näyttö"
    531		"Näytön asetukset|Vaihda kuvan näyttämisen asetuksia (paina nuolesta valitaksesi asetukset)"
    532		"Täysiruutu"
    533		"Täysiruutu|Näytetään kuva täydenruudun kokoisena"
    534		"Muokkaus"
    535		"Muokkaus|Avataan kuvan muokkaus tila"
    536		"Taaksepäin"
    537		"Takaisinpäin|Siirry nykyisen kansion aikaisempaan kuvaan (paina SHIFT näppäimestä halutessasi kansion ensimmäiseen kuvaan)"
    538		"Eteenpäin"
    539		"Eteenpäin|Siirry nykyisen kansion seuraavaan kuvaan (paina SHIFT näppäimestä halutessasi kansion ensimmäiseen kuvaan)"
    540		"Kumoa"
    541		"Kumoa|Kumoa viimeinen toiminto"
    542		"Satunnainen"
    543		"Satunnainen|Siirry satunnaiseen tiedostoon nykyisestä kansiossa"
    544		"Sovita ikkunaan"
    545		"Sovita ikkunaan|Sovita kuvat ikkunaan"
    
    546		"Uusi"
    547		"UUsi tiedosto|Luodaan uusi tyhjä tiedosto"
    548		"Poista tiedosto"
    549		"Poista tiedosto|Poistetaan nykyinen tiedosto"
    550		"Kopioi tiedosto"
    551		"Kopioi tiedosto|Kopioidaan nykyinen tiedosto"
    552		"Siirrä tiedosto"
    553		"Siirrä tiedosto|Siirretään nykyinen tiedosto"
    554		"Nimeä uudelleen"
    555		"Nimeä uudelleen|Nimetään nykyinen tiedosto uudelleen"
    556		"Zoomaa 100%"
    557		"Zoomaa 100%|Zoomaa 100%"
    558		"Sovita leveys"
    559		"Sovita leveys|Sovita zoomaus kuvan korkeuteen"
    560		"Sovita korkeus"
    561		"Sovita korkeus|Sovita zoomaus kuvan korkeuteen"
    562		"Käännä vastapäivään"
    563		"Käännä vastapäivään|Käännä kuvaa 90° vastapäivään"
    564		"Alkuun"
    565		"Alkuun|Siirry nykyisen kansion ensimmäiseen kuvaan"
    566		"Loppuun"
    567		"Loppuun|Siirry nykyisen kansion viimeiseen kuvaan"
    568		"Diaesitys"
    569		"Aloita diaesitys|Aloita diaesitys"
    570		"Asetukset"
    571		"Muokkaa %s haluamaksesi|Vaihda ohjelman asetuksia"
    572		"Ohje"
    573		"%s Ohje|Ajantasalla olevat ohjelman ohjeet"
    574		"WWW"
    575		"%s kotisivu|Lataa päivitykset ja pluginit"
    576		"Tietoja"
    577		"Tietoja %s ohjelmasta|Katso tiedot ohjelmasta"
    578		"Skannaa"
    579		"Skannaa|Nouda kuvat skannerilta tai digikameralta"
    580		"Lähetä"
    581		"Lähetä kuva sähköpostilla|Lähetetään nykyinen kuva sähköpostilla"
    582		"Kaappaa"
    583		"Ruudunkaappaus|Ruudunkaappaus työpöydältä"
    584		"JPEG häviötön"
    585		"JPEG häviötön muoto|Häviötön muunnos nykyiselle kuvalle (vain JPEG)"
    586		"Näytä heksakoodina"
    587		"Näytä heksakoodina|Näytä nykyinen kuva binäärisessä muodossa"
    588		"Uusi ikkuna"
    589		"Uusi ikkuna|Avaa uuden ohjelmaikkunan"
    590		"Siirry sivulle"
    591		"Uusi ikkuna|Avaa uusi ikkuna nykyiseen dokumenttiin"

    600		"Virhe"
    601		"Ei voida ladata tuonti pluginiä."
    602     "Ei voida ladata vienti pluginiä."
    603     "Ei voida ladata työkalu pluginiä."
    604     "Plugin haku suoritettu."
    605     "Ei voida ladata aputiedostoja."
    606     "Muuttaminen mahdotonta - muokkaus ikkuna ei ole auki."

    610     "Haluatko poistaa nykyisen tiedoston?"
    611     "Valitse kohde kansio..."
    612     "Anna tiedostolle uusi täydellinen nimi"
    613     "Saman niminen tiedosto on jo olemassa. Haluatko kirjoittaa sen päälle?"

    620     "Tiedostoa ei löydy."
    621     "Anna sopiva numeroarvo."

    630     "Siirry sivulle"
    631     "Anna sivun numero... (1 - %s)"
    632     "Sivua ei löydy."

    640     "%s Dokumentti"
    641     "&Avaa"

    700     "Tietoja %s ohjelmasta"
    701     "Avaa %sin kotisivu"

    710     "Mukautettu zoomaus"
    711     "Zoomaa"

    720     "Diaesitys"
    721     "Ajastin:"
    722     "Aseta"
    723     " Suunta "
    724     "Normaali"
    725     "Käänteinen"
    726     "Satunnainen"
    727     "Paina [F3] halutessasi piilottaa työkalupalkki"
    728     "Diaesitys (Aloitettu, viive %s sekuntia)"

    730     "Histogrammi"
    731     "Punainen"
    732     "Vihreä"
    733     "Sininen"
    734     "Harmaa"

    740     "Uusi kuva"
    741     " Kuvan koko "
    742     " Taustaväri "
    743     "Leveys:"
    744     "Korkeus:"
    745     "Valitse tästä väri"

    750     "Kuvan ominaisuudet"
    751     "Yleiset"
    752     "EXIF"
    753     "EXIF-pienoiskuva"
    754     "Histogrammi"
    755     "Kenttä"
    756     "Arvo"

    800     "Käännä kuvaa"
    801     "Kulma:"
    802     "Laatu:"
    803     "Korkea (erittäin hidas)"
    804     "Hyvä (hidas)"
    805     "Keski"
    806     "Matala (nopea)"

    810     "Muuta kokoa"
    811     "Tallenna arvot"
    812     "Kuvan koko"
    813     "Kuvan skaalaus"
    814     "Menetelmä"
    815     "Leveys:"
    816     "Korkeus:"
    817     "Pikseliä"
    818     "%"
    819     "Menetelmä:"
    820     "Bicubic"
    821     "Bilinear"
    822     "FastLinear"
    823     "Linear"
    824     "Nearest"
    825     "Mitchell"
    826     "Lanczos3"
    827     "BSpline"
    829     "Bell"
    830     "Hermite"
    831     "Triangle"
    832     "Ei mitään"

    840     "Asetukset"
    841     "Yleiset"
    842     "Käyttöliittymä"
    843     "Tedostomuodot"
    844     "Kieli"
    845     "Muut asetukset"
    846     "Näytä tiedoston polku ikkunan otsikossa"
    847     "Avaa muutettu kuva tallennuksen jälkeen"
    848     "Näytä kaikki tiedostot oletuksena"
    849     "Estä aikaisempien tiedostojen luettelon käyttö"
    850     "Käynnistä täydessäruudussa"
    851     "Tyhjennä aikaisempien tiedostojen luettelo"
    852     ""
    853     "Ikkunan väri:"
    854     "Täydenruudun väri:"
    855     "Tiedostopäätteet:"
    856     "Vaihda tiedostotyypin selite"
    857     "Palauta tiedostotyyppien oletusarvot"
    858     "Valitse kaikki"
    859     "Poista valinnat"
    860     "Hae asetetut"
    861     " Käytettävä pienoiskuvake "
    862	    "Pluginit"
    863     "Etsi lisätyt pluginit"
    864     "Avaa plugini kansio"
    865	    "Hae netistä uusia pluginejä..."
    866     "Suorituskyky"
    867     "Asennetut pluginit"
    868	    "Progressiivinen kuvan lataus (saattaa hidastaa kuvan avautumista)"
    869	    "Käytä hitaampaa korkealaatuista näytönsuodatinta"
    870     "Vaihda selite"
    871     "Voit vaihtaa Windows Explorerissa näytettävää tiedostomuotojen selitettä"
    872     "Tehty"
    873	    "Viivästä näyttösuodatinta kuvaa vieritettäessä"
    874	    "Salli usean ohjelman käyttö"
    875     "Käänteinen suunta"


    880     "Muokkaus"
    881     "Muokkaus työkalut"
    882     "Valitse"
    883     "Valinta työkalu"
    884     "Siirrä"
    885     "Siirto työkalu"
    886     "Piirto"
    887     "Piirrä"
    888     "Leikkaa"
    889     "Leikkaa"
    890     "Kopioi"
    891     "Kopioi"
    892     "Liitä"
    893     "Liitä"
    894     "Liitä+"
    895     "Liitä (venytettynä)"
    896     "Kumoa"
    897     "Kumoa"
    898     "Uudelleen"
    899     "Uudelleen"
    900     "Sovita kuvankoko"
    901     "Sovita kuvankoko"
    902     "Zoomaa"
    903     "Zoomaa"
    904     "Valinta"
    905     "Valinta"
    906     "Poista"
    907     "Poista"
    908     "Muuta kuvankokoa"
    909     "Muuta kuvankokoa"
    910     "Rajaa kuva"
    911     "Rajaa kuva"
    912     "Käännä kuvaa"
    913     "Käännä kuvaa"
    914     "Valitse kaikki"
    915     ""
    916     "Käänteinen valinta"
    917     ""
    918     "Piilota valinta-alue"
    919     ""
    920     "Erikoistehosteet"
    921     "    Väri:  "
    922		"Kynä"
    923		"Kynä työkalu"
    924		"Täyttö"
    925		"Täyttö työkalu"
    926		"Toleranssi: "

    1000    "JPEG / Joint Photographic Experts Group"
    1001    "JPEG 2000"
    1002    "CompuServe GIF"
    1003    "Portable Bitmap"
    1004    "Portable Graymap"
    1005    "Portable Pixelmap"
    1006    "Windows Bitmap"
    1007    "Enhanced Metafile"
    1008    "Windows Metafile"
    1009    "ZSoft Paintbrush"
    1010    "Multi-page ZSoft Paintbrush"
    1011    "PNG / Portable Network Graphics"
    1012    "Truevision Targa"
    1013    "Tag Image File"
    1014	"Wireless Bitmap"
    1015	"MNG / Multiple-image Network Graphics"
    1016	"JNG / JPEG Network Graphics"
    1017	"Kodak Photo CD"
    1018	"EPS thumbnail / Encapsulated PostScript"
    1019	"Autodesk kuva"
    1020	"Adobe Photoshop"
    1021	"Adobe PhotoDeluxe"
    1022	"Corel/Jasc PaintShop Pro"
    1023	"Commodore 64 Koala"
    1024	"Amiga IFF"
    1025	"DirectDraw Surface"
    1026	"Sun Rasteritiedosto"
    1027	"X11 Bitmap"
    1028	"X11 Pixmap"
    1029	"Windows Ikoni"
    1030	"HDR / High Dynamic Range"
    1031	"PDF / Portable Document Format"
    1032	"PostScript"
    1033	"Windows Osoitin"
    1034	""
    1035    "Canon RAW Digitaalisen kameran dumppi"
    1036    "Adobe Digitalinen Negatiivi"
    1037    "Nikon RAW Digitaalisen kameran dumppi"
    1038    "RAW Digitaalisen kameran dumppi"
    1039    "Fuji RAW Digitaalisen kameran dumppi"
    1040    "JBIG"
    1041    "DICOM / Digitaalinen kuvannus ja tiedonsiirto lääketieteessä"
    1042    "Dr. Halo"
    1043    "AVS X kuva"
    1044    "Kodak Cineon"
    1045    "Graph Visualization"
    1046    "SMPTE Digitaalinen liikkuvan kuvan vaihto menetelmä"
    1047    "Flexible Image Transport System"
    1048    "FlashPix"
    1049    "MATLAB"
    1050    "ImageMagick"
    1051    "MTV Raytracing"
    1052    "Palm Pixmap"
    1053    "Apple Macintosh QuickDraw/PICT"
    1054    "Alias/Wavefront RLE kuva"
    1055    "Seattle File Works"
    1056    "Alias/Wavefront kuva"
    1057    "Irix RGB kuva"
    1058    "Sun Rastertiedosto"
    1059    "SVG / Scalable Vector Graphics"
    1060    "TrueType Fontti"
    1061    "VICAR Rasteritiedosto"
    1062    "Khoros VIFF / Visualization Image"
    1063    "GIMP kuva"

    1200    "Polku"
    1201    "Tiedostonkoko"
    1202    "%f Gb"
    1203    "%f Mb"
    1204    "%f Kb"
    1205    "Päiväys"
    1206    "Koko"
    1207    "%s x %s"

    1220    "JPEG pakkaus"
    1221    "%s%%"
    1222    "Valmistaja"
    1223    "Malli"
    1224    "Kuvakoko"
    1225    "%d x %d Pikseliä"
    1226    "Resoluutio"
    1227    "%.1f MPix"
    1228    "Pienoiskuva"
    1229    "Löytyy (katso ""%s"" sivulta)"
    1230    "Kuvanotto päiväys"
    1231    "Tallennus päiväys"
    1232    "X-Resoluutio"
    1233    "Y-Resoluutio"
    1234    "Ohjelmisto"
    1235    "ISO"
    1236    "F-Luku"
    1237    "Valotusaika"
    1238    "1/%d sek"
    1239    "Polttoväli"
    1240    "%-4.1f mm"
    1241    "Valotusohjelma"
    1242    "Käsiasetus"
    1243    "Normaali"
    1244    "Aukon prioriteetti"
    1245    "Sulkimen prioriteetti"
    1246    "Luova (Hidas valotus)"
    1247    "Liike (Nopea valotus)"
    1248    "Henkilökuva muoto"
    1249    "Maisemakuva muoto"
    1250    "Valonlähde"
    1251    "Päivänvalo"
    1252    "Loisteputki"
    1253    "Kaasupurkausvalo"
    1254    "Salamavalo"
    1255    "Vakiovalo-A"
    1256    "Vakiovalo-B"
    1257    "Vakiovalo-C"
    1258    "D55"
    1259    "D65"
    1260    "D75"
    1261    "Salamavalo"
    1262    "Salama ei ollut käytössä"
    1263    "Salama oli käytössä"
    1264    "Salama oli käytössä mutta ilmaisin kertoi toiminta häiriöstä"
    1265    "Salama oli käytössä ja ilmaisin kertoi toiminnan"
    1266    "Salama oli pakotettu päälle"
    1267    "Sisäistä salamaa käytettiin"
    1268    "Maksimi aukon koko"
    1269    "Mittaustapa"
    1270    "Keskimääräinen"
    1271    "Keskelle painottava"
    1272    "Pistemittaus"
    1273    "Monipiste mittaus"
    1274    "Monialue mittaus"
    1275    "Osittainen"
    1276    "Salaman korjaus asetus"
    1277    "Kirkkauden arvo"
    1278    "Tunnistus menetelmä"
    1279    "1 piirin väri-ilmaisin"
    1280    "Valkoinen piste"
    1281    "Vertailuna musta ja valkoinen"
    1282    "YCbCr Riipuvuudet"
    1283    "FlashPix Versio"
    1284    "sRGB"
    1285    "Kalibroimaton"
    1286    "Värimuoto"
    1287    "Kennon Väritason X-Resoluutio"
    1288    "Kennon Väritason Y-Resoluutio"
    1289    "Kennon Väritason resoluution yksikkö"
    1290    "Ei yksiköitä"
    1291    "Tuuma"
    1292    "Senttimetri"
    1293    "Ensisijaiset kromantit"
    1294    "EXIF Versio"
    1295    "Pakatut bitit per pikseli"
    1296    "Tarkkuuden yksikkö"
    1297    "YCbCr sijainti"
    1298    "Keskellä pikseliverkkoa"
    1299    "Päiväyksen sijainti"
    1300    "Kuvan suunta"
    1301    "Normaali"
    1302    "-90° käännetty"
    1303    "180° käännetty"
    1304    "90° käännetty"
    1305    "Vasemmalle ylös"
    1306    "Oikealla ylös"
    1307    "Oikealla alas"
    1308    "Vasemmalle alas"
    1309    "Selite"
    1310    "Tapahtuma tyyppi"
    1311    "Kohteen etäisyys"
    1312    "Sekunninosat"
    1313    "Alkuperäiset sekunninosat"
    1314    "Liitetty äänitiedosto"
    1315    "Valotus indeksi"
    1316    "Tiedoston lähde"
    1317    "Digitaalinen kamera"
    1318    "Tekijänoikeus"
    1319    "Kommentti koodi"
    1320    "Kommentti"

    1750    "Käänteinen"
    1751    "Harmaasävy"
    1752    "Punasilmien poisto"
    1753    "Muuta kokoa"
    1754    "Käännä"
    
    3000	"Näytä taustakuvana..."
    3001	"Aseta taustakuvaksi..."
    3002	"Näytä taustakuvana"
    3003	"Määritä koko:"
    3004	"x"
    3005	"%s x %s"
    3006	"Aseta" 
    3007	"Aseta taustakuvaksi"
    3008	" Taustakuvan sijainti "
    3009	"Keskitä"
    3010	"Vierekkäin"
    3011	"Venytä"
    
    3015	"Näytä heksakoodina..."
    3016	"Näytä heksakoodina"
    3017	"Voit käyttää vain nykyiseen tiedostoon"
    
    3020	"Tallenna GIF-muodossa..."
    3021	"GIF tallennus"
    3022	"Asetukset"
    3023	"Esikatselu"
    3024	" Värimäärän muuttaminen "
    3025	"Ei mitään"
    3026	"Windows 20-väriä"
    3027	"Windows 256-väriä"
    3028	"Windows harmaasävy"
    3029	"Yksivärinen"
    3030	"Harmaasävy"
    3031	"Netscape Web värit"
    3032	"Optimoitu 256-väriä"
    3033	" Dither "
    3034	"Nearest"
    3035	"Floyd Steinberg"
    3036	"Stucki"
    3037	"Sierra"
    3038	"Jarvis, Judice and Ninke"
    3039	"Stevenson and Arche"
    3040	"Burkes"
    3041	"Tallenna GIF-muodossa"
   
    3050	"Värien säätö"
    3051	"Kirkkaus"
    3052	"Gaussian sumeus"
    3053	"Liikkuva sumeus"
    3054	"Värikohinan lisäys"
    3055	"Antialiasointi"
    3056	"Kontrasti"
    3057	"Vaaleus"
    3058	"Tummuus"
    3059	"Värikylläisyys"
    3060	"Mosaiikki"
    3061	"Monista"
    3062	"Kohokuvio"
    3063	"Solarisaatio"
    3064	"Porrastus"
    
    3070	"Kirkkaus"
    3071	" Kirkkaus "
    
    3075	"Värien säätö"
    3076	"Punainen:"
    3077	"vihreä:"
    3078	"Sininen:"
    
    3080	"Skannerista tai kamerasta"
    3081	"Muodosta HTML-tiedosto kuvasta..."
    3082	"Haluatko muodostaa HTML-sivun nykyisestä kuvasta?"
    3083	"Virhe tallennettaessa HTML-tiedostoa"
    3084	"Luotiin HTML-sivu: ""%s"""
    3085	"Tämä työkalu toimii ainoastaan tallennettujen kuvien kanssa"
    3086	"Tallenna JPEG-muodossa"
    3087	" Laatu "
    3088	"Progressiivinen"
    3089	"Optimoitu (tallennus kestää hetken aikaa)"
    3090	"Tallenna JPEG2000-muodossa"
    3091	" Pakkaus muoto "
    3092	"Häviötön"
    3093	"Tallenna TIFF-muodossa"
    3094	" Pakkaus "
    3095	"Ei mitään"
    3096	"LZW"
    3097	"JPEG"
    3098	"PackBits"
    3099	"CCITT (Huffman)"
    3100	"CCITT G3, 1D"
    3101	"CCITT G3, 2D"
    3102	"CCITT G4, 2D"
    3103	" Pakkaus (vain JPEG) "

    3110	"Ruudun kaappaus..."
    3111	"Ruudun kaappaus"
    3112	"Kaappaa"
    3113	" Kaappaa "
    3114	"Työpöytä"
    3115	"Suorakulmio"
    3116	"Valinta"
    3117	"Aktiivinen ikkuna"
    3118	"Piilota tämä ikkuna"
    3119	"Kaappauksen osoitin"
    3120	"Käytä 5:n sekunnin viivettä"
    
    3130	"Paintbrush tiedostomuoto"
    3131	"EGA 16-bitin värit"
    3132	"Täyttö on tyhjä"
    3133	"Täyttö ei ole tyhjä"
    3134	"Valmistaja"
    3135	"Versio"
    3136	"Koodaus"
    3137	"Bittiä Per pikseli"
    3138	"Vasen"
    3139	"Yläosa"
    3140	"Leveys"
    3141	"Korkeus"
    3142	"Vaakasuuntainen resoluutio"
    3143	"Pystysuuntainen resoluutio"
    3144	"Väritasot"
    3145	"Tavua per viiva"
    3146	"Paletin muoto"
    3147	"Vaakasuuntainen ruudun koko"
    3148	"Pystysuuntainen ruudun koko"
    3149	"Täyttö"
    3150	"Kuvankoko (tavua)"
    3151	"Tiedostokoko (tavua)"
    3152	"%s (ei todennäköinen!)"
    3153	"%s (sopiva)"
    3154	"Kaikki värit"
    3155	"Tyyppi"
    3156	"Tiedostokoko (tunnisteesta alkaen)"
    3157	"Pakkaus"
    3158	"Vaakasuuntainen resoluutio (pikseliä per yksikkö)"
    3159	"Pystysuuntainen resoluutio (pikseliä per yksikkö)"
    3160	"Värejä käytössä"
    3161	"Tärkeät värit"
    3162	"Ikoni"
    3163	"Epäsopiva"
    3164	"Kuvien määrä ikoni kansiossa"
    3165	"Määrä"
    3166	"#%d : %dx%d, %d bittiä, %d tavua"
    3167	"#%d : %dx%d, %d bittiä, %d tavua"
    3168	"Truevision TGA Versio 2.0"
    3169	"Alkuperäinen TGA muoto"
    3170	"Kuvatietoa ei löydy"
    3171	"Pakkaamaton, määritellyt värit"
    3172	"Pakkaamaton, truecolor"
    3173	"Pakkaamaton, mustavalkea"
    3174	"RLE, määritellyt värit"
    3175	"RLE, truecolor"
    3176	"RLE, mustavalkea"  
    3177	"%d-%d-%d %d:%d:%d "
    3178	"Pääte"
    3179	"Omistaja"
    3180	"Kommentti"
    3181	"Päiväys"
    3182	"Nykyinen"
    3183	"Ei ole"
    3184	"(Järjestelty)"
    3185	"(Järjestelemätön)"
    3186	"Tietoja ei saatavilla"
    3187	"Yleinen väritaulu"
    3188	"Yleisen väritaulun koko (tavua)"
    3189	"Pikselien muotosuhde"
 
    3250	"Tulostuksen esikatselu"
    3251	"Tulosta"
    3252	""
    3253	"Zoomaa"
    3254	""
    3255	"Asetukset"
    3256	""
    3257	"Alkuperäinen sivusuhde"
    3258	"Pienennä kuvat sopiviksi"
    3259	"Keskitä"
    3260	"Ei voida noutaa nykyistä kuvaa ohjelmaan"
    3261	"Kirjoitinta ei löytynyt"

    3300	"Kursori näppäinten käyttö:"
    3301	"Kuvan vaihto"
    3302	"Kuvan vieritys"
    3303	"Enter näppäimen käyttö:"
    3304	"Vaihda kuvan näyttötapaa"
    3305	"Vaihda täydenruudun tilaan"
    3306	"Salli ""Sovita kaikki kuvat ruudulle"" näyttötapa"
    3307	"Vaihda täydenruudun tilaan tuplaklikkaamalla kuvaa"
    3308	"Ei ole suositeltavaa yhdistää korkealaatuista kuvasuodatinta ja progressiivista kuvan latausta (katso kohtaa ""Yleiset"")"
    3309	"Salli sulautettujen väriprofiilien käyttö"
    3310	"Lataa kaikki kuvat suoraan muistiin"
    3311	"Älä käytä tätä valintaa jos tietokoneessa on muistia vähemmän kuin 1Gb RAM ja katsot suuria kuvia"
    3312	"Hiiren vieritysrullan käyttö:"
    3313	"Kuvan zoomaus"
    3314	"Hiiren vedä ja pudota käyttö:"
    3315	"Vieritä kuvaa"
    3316	"Zoomaa valittuun suorakaiteeseen"
    3317	"Avattaessa uusi kuva:"
    3318	"Pidä aiempi näyttötapa (ja aseta zoomaus 100% normaalissa näyttötavassa)"
    3319	"Älä tee mitään (pidä aiempi zoomaus ja näyttötapa)"
    3320	"Aseta näyttötapa ""Sovita suuret kuvat"""
    3321	"Aseta näyttötapa ""Sovita kaikki kuvat"""
    3322	"Aseta näyttötapa ""Normaali"" ja aseta zoomaus 100%"
    3323	"Aseta näyttötapa ""Normaali"" ja pidä aiempi zoomaus"
    
    3400	"JPEG häviöttömät muunnokset"
    3401	"JPEG häviöttömät muunnokset..."
    3402	"Toiminto on käytettävissä ainostaan JPEG-tiedostoille"
    3403	"_muokattu"			// this string will be part of the generated file name!
    3404	"Käännä 90°"
    3405	"Käännä 180°"
    3406	"Käännä 270°"
    3407	"Peilaa vaakasuunnassa"
    3408	"Peilaa pystysuunnassa"
    3409	"90° Vastapäivään peilikuvana"
    3410	"90° Myötäpäivään peilikuvana"
    3411	"Leikkaa"
    3412	"Poista metadata"
    3413	"Varoitus! Kuvasta saattaa hävitä 16 pikseliä kuvan reunoilta (häviötön kääntö toimii oikein kuvilla joiden koko on jaollinen kahdeksalla)."
    
    3500	"Mukauta..."
    3501	""
    3502	"Erotin"
    3503	"Mukauta työkalupalkkia"
    3504	"Käytettävät painikkeet:"
    3505	"Työkalupalkki:"
    3506	"Lisää >"
    3507	"< Poista"
    3508	"Oletukset"
    
    3600	"Lähetä kuva..."
END
