STRINGTABLE
BEGIN
    // required value (for compatibility check)
    1		"FxImgIconLibR6"
    
    // name (in English)
    2		"Test"
    
    // description (leave empty if not needed)
    3		"Test icon library"

    // author
    4		"Alexander Frost"
    
    // last version of FuturixImager tested with this
    5		"6.0.1"
END
