STRINGTABLE
BEGIN
    // required value (for compatibility check)
    1		"FxImgIconLibR6"
    
    // name (in English)
    2		"Example"
    
    // description (leave empty if not needed)
    3		"Example icon library"

    // author
    4		"Alex Tereshchenko"
    
    // last version of FuturixImager tested with this
    5		"6.0"
END
