STRINGTABLE
BEGIN
    1		"FxImgLocaleR2"                                 // do not change this!
    2		"English"                            			// name of the locale language (in English only!)
    3		"eng"                                           // ISO code of the language - http://www.w3.org/WAI/ER/IG/ert/iso639.htm (lowercase!)
    4		"Alexander Tereshchenko"        				// locale author
    5		"5.8.8"                    						// last version of Futuris Imager this locale was updated for
	6		""												// localized name of the locale language (leave empty if you want English name only)
	
    50		"OK"
    51		"Cancel"
    52		"Yes"
    53		"No"
    54		"Close"
    55		"Apply"
    56		"Save"

    60		"Start"
    61		"Stop"

    70		"Unknown"
    71		"Other"
    72		"Not available"
    73		"Not applicable"
    74		"N/A"
    75		"n/a"

    100		"File"
    101		"Edit"
    104		"View"
    108		"Tools"
    110		"Help"

    120		"Open..."
    121		"Open new document..."
    122		"Open Recent"
    124		"Reopen"
    125		"Reload current document"
    126		"New Image..."
    127		"Create new empty image"
    128		"Save As..."
    129		"Save image as..."
    130		"Close"
    131		"Close current document"
    132		"Import"
    134		"Export"
    136		"File Information"
    137		"Show document information"
    138		"File Management"
    140		"Delete File"
    141		"Delete current document"
    142		"Copy File"
    143		"Copy current document"
    144		"Move File"
    145		"Move current document"
    146		"Rename File"
    147		"Rename current document"
    150		"Print"
    151		"Print current document"
    152		"Print Preview..."
    153		"Print document with preview of results"
    154		"Exit"
    155		"Exit %s"
    156		"Load Last"
    157		"Loads last available document"
    158		"New Window"
    159		"Open new program window"

    170		"Undo"
    171		"Restore previous document state"
    172		"Copy"
    173		"Copy to clipboard"
    174		"Paste"
    175		"Paste from clipboard"
    176		"Edit Image..."
    177		"Open built-in editor"

    190		"Toolbars"
    192		"Main Toolbar"
    193		"Toggle main toolbar"
    194		"Status Bar"
    195		"Toggle status bar"

    210		"Display Options"
    212		"Normal Display"
    213		""
    214		"Fit Large Images"
    215		""
    216		"Fit All Images"
    217		""
    220		"Center Image"
    221		""
    222		"Show Scrollbars"
    223		""

    230		"Zoom"
    232		"Zoom In"
    233		"Zoom in by 50%"
    234		"Zoom Out"
    235		"Zoom out by 50%"
    236		"6%"
    237		""
    238		"12%"
    239		""
    240		"25%"
    241		""
    242		"50%"
    243		""
    244		"75%"
    245		""
    246		"100%"
    247		"Original zoom"
    248		"150%"
    249		""
    250		"200%"
    251		""
    252		"400%"
    253		""

    260		"Zoom to Fit"
    261		""
    262		"Zoom to Width"
    263		""
    264		"Zoom to Height"
    265		""

    270		"Rotate View CW"
    271		""
    272		"Rotate View CCW"
    273		""

    276		"Custom..."
    277		"Set custom zoom"

    280		"Pages"
    282		"First Page"
    283		""
    284		"Previous Page"
    285		""
    286		"Next Page"
    287		""
    288		"Last Page"
    289		""
    290		"Go To Page"
    291		""
    292		"Extract Page"
    293		""

    300		"Animation"
    302		"Play"
    303		""
    304		"Pause"
    305		""
    306		"Stop"
    307		""

    310		"Go To"
    312		"Back"
    313		"Go to the previous document in current folder"
    314		"Forward"
    315		"Go to the next document in current folder"
    316		"First"
    317		"Go to the first document in current folder"
    318		"Last"
    319		"Go to the last document in current folder"
    320		"Random"
    321		"Go to the random document in current folder"

    326		"Slide Show"
    327		"Slide Show"
    328		"Start Slide Show"
    329		"Start slide show immediately"
    330		"Full Screen"
    331		"Toggle full screen mode"

    350		"Options..."
    351		"Configure %s options"

    362		"%s Website"
    363		"Visit %s website"
    364		"About..."
    365		"About %s"
    366		"Help Contents"
    367		"Learn more about this program"

    370		"Minimize"
    371		""

    400		"Open image ..."
    401     "Size: %s x %s"
    402     "No size information available"
    403     "File: %s"
    404     "Type: %s"
    405		"Save image as..."
    406     "Supported"
    407     "Not supported"
    408     "All files"
    409     "Untitled"
    410		"Open %s"
    411		"Unknown image type"

    500		"Main Toolbar"
    502		"Open"
    503		"Open|Open new document"
    504		"Load Last"
    505		"Last Document|Load last document"
    506		"Save As"
    507		"Save as...|Save document in a new format"
    508		"Close"
    509		"Close|Close document"
    510		"Print"
    511		"Print|Print document"
    512		"Copy"
    513		"Copy|Copy document to clipboard"
    514		"Paste"
    515		"Paste|Paste document from clipboard"
    516		"Previous Page"
    517		"Previous Page|Go to previous page"
    518		"Next Page"
    519		"Next Page|Go to next page"
    520		"Info"
    521		"Document Info|View document information"
    522		"Zoom In"
    523		"Zoom In|Zoom in by 50%"
    524		"Zoom Out"
    525		"Zoom Out|Zoom out by 50%"
    526		"Rotate"
    527		"Rotate|Rotate document 90 degrees CW"
    528		"Zoom"
    529		"Zoom|Set document zoom"
    530		"Display Options"
    531		"Display Options|Change various display options"
    532		"Full Screen"
    533		"Full Screen|Switch to full screen mode"
    534		"Editor"
    535		"Editor|Open built-in editor"
    536		"Go Back"
    537		"Back|Go to previous document in current folder"
    538		"Go Forward"
    539		"Forward|Go to next document in current folder"
    540		"Undo"
    541		"Undo|Undo last editing action"
    542		"Go Random"
    543		"Random|Go to random document in current folder"
    544		"Zoom To Fit"
    545		"Fit|Zoom document to fit the window size"
    546		"New Image"
    547		"New Image|Create new empty document"
    548		"Delete File"
    549		"Delete File|Delete current document"
    550		"Copy File"
    551		"Copy File|Copy current document"
    552		"Move File"
    553		"Move File|Move current document"
    554		"Rename File"
    555		"Rename File|Rename current document"
    556		"Zoom To 100%"
    557		"Zoom To 100%|Zoom to 100%"
    558		"Fit To Width"
    559		"Zoom To Fit Width|Zoom to fit document width"
    560		"Fit To Height"
    561		"Zoom To Fit Height|Zoom to fit document height"
    562		"Rotate CCW"
    563		"Rotate CCW|Rotate document 90 degrees CCW"
    564		"First"
    565		"First|Go to the first document in current folder"
    566		"Last"
    567		"Last|Go to the last document in current folder"
    568		"Slide Show"
    569		"Start Slide Show|Start slide show"
    570		"Options"
    571		"%s Options|Change program options"
    572		"Help"
    573		"%s Help|Latest help and useful information"
    574		"WWW"
    575		"%s Website|Download updates and add-ons"
    576		"About"
    577		"About %s|View program version and copyrights"
    578		"Scan"
    579		"Scan|Get pictures from your scanner or digital camera"
    580		"E-mail"
    581		"Send By E-mail|Send current document by e-mail"
    582		"Capture"
    583		"Screen Capture|Save screenshots"
    584		"JPEG Lossless"
    585		"JPEG Lossless Transformations|Losslessly transform current photo (JPEG format only)"
    586		"View As HEX"
    587		"View As HEX|View current document in binary codes"
    588		"New Window"
    589		"New Window|Open new program window"
    590		"Go To Page"
    591		"Go To Page|Open new page in current document"

    600		"Generic error"
    601		"Cannot load import plug-in."
    602     "Cannot load export plug-in."
    603     "Cannot load tool plug-in."
    604     "Plug-in search complete."
    605     "Cannot load helper library."
    606     "Resize impossible - no editor window open."
    607		"Cannot load plug-in!"

    610     "Do you really want to delete current file?"
    611     "Select destination folder ..."
    612     "Type new file name (including extension) ..."
    613     "The file with the same name already exists in the destination folder. Would you like to overwrite it?"

    620     "File does not exist."
    621     "You need to input valid numeric."

    630     "Go to page"
    631     "Type page number to go to... (range from 1 to %s)"
    632     "Page does not exist."

    640     "%s Document"
    641     "&Open"

    700     "About %s"
    701     "Visit %s website"

    710     "Custom Zoom"
    711     "Custom Zoom"

    720     "Slide Show"
    721     "Timer:"
    722     "Set"
    723     " Direction "
    724     "Normal"
    725     "Reverse"
    726     "Random"
    727     "Press [F3] to toggle this toolbar during slide show"
    728     "Slide Show (started, %s sec.)"

    730     "Histogram"
    731     "Red"
    732     "Green"
    733     "Blue"
    734     "Grey"
    735     "All"

    740     "New Image"
    741     " Size "
    742     " Background Color "
    743     "Width:"
    744     "Height:"
    745     "Click here to choose color"

    750     "Image Information"
    751     "General"
    752     "EXIF"
    753     "EXIF Thumbnail"
    754     "Histogram"
    755     "Keys"
    756     "Values"

    800     "Rotate Image"
    801     "Angle:"
    802     "Quality:"
    803     "Highest (very slow)"
    804     "High (slow)"
    805     "Mediocre"
    806     "Rough (fast)"

    810     "Resize Image"
    811     "Save proportions"
    812     "Size"
    813     "Scale"
    814     "Method"
    815     "Width:"
    816     "Height:"
    817     "pixels"
    818     "%"
    819     "Method:"
    820     "Bicubic"
    821     "Bilinear"
    822     "FastLinear"
    823     "Linear"
    824     "Nearest"
    825     "Mitchell"
    826     "Lanczos3"
    827     "BSpline"
    829     "Bell"
    830     "Hermite"
    831     "Triangle"
    832     "None"

    840     "Options"
    841     "General"
    842     "Misc"
    843     "File Formats"
    844     "Languages"
    845     "Tasks"
    846     "Show full image path in window title"
    847     "Open resulting image after save"
    848     "Show all files in ""Open"" dialog by default"
    849     "Disable recent file list"
    850     "Start in full screen mode"
    851     "Clear recent files list"
    852     ""
    853     "Window color:"
    854     "Full screen color:"
    855     "Extensions:"
    856     "Change file formats description"
    857     "Restore Windows default icon viewer"
    858     "Select All"
    859     "Select None"
    860     "Refresh"
    861     " Select icon "
    862		"Plug-ins"
    863		"Scan for new plug-ins"
    864		"Open plug-ins folder"
    865		"Get more plug-ins..."
    866		"Performance"
	867		"Installed plug-ins:"
	868		"Progressive image loading (may slow down image opening)"
	869		"Use slower high quality display filter"	
    870     "Description change"
    871     "You can change supported formats description, that appears in Windows Explorer..."
    872     "Done."
    873		"Delay display filter on image scrolling"
    874		"Allow multiple program instances"
    875		"Reverse direction"
    876		"Plug-in"
    877		"Description"
    878		"Extension"
    879		"Additional settings..."

    880     "%s - Editor"
    881     "Editor Toolbar"
    882     "Select"
    883     "Rectangle Selection Tool"
    884     "Hand"
    885     "Hand Tool"
    886     "Draw"
    887     "Drawing Tools"
    888     "Cut"
    889     "Cut"
    890     "Copy"
    891     "Copy"
    892     "Paste"
    893     "Paste"
    894     "Paste+"
    895     "Paste (stretched)"
    896     "Undo"
    897     "Undo"
    898     "Redo"
    899     "Redo"
    900     "Fit Mode"
    901     "Fit Mode"
    902     "Zoom"
    903     "Zoom"
    904     "Selection"
    905     "Selection"
    906     "Erase"
    907     "Erase"
    908     "Resize"
    909     "Resize image"
    910     "Crop"
    911     "Crop image"
    912     "Rotate"
    913     "Rotate image"
    914     "Select All"
    915     ""
    916     "Invert Selection"
    917     ""
    918     "Remove Selection"
    919     ""
    920     "Filters"
    921     "Color: "
    922		"Pencil"
    923		"Pencil Tool"
    924		"Flood Fill"
    925		"Flood Fill Tool"
    926		"Tolerance: "

    1000    "JPEG / Joint Photographic Experts Group"
    1001    "JPEG 2000"
    1002    "CompuServe GIF"
    1003    "Portable Bitmap"
    1004    "Portable Graymap"
    1005    "Portable Pixelmap"
    1006    "Windows Bitmap"
    1007    "Enhanced Metafile"
    1008    "Windows Metafile"
    1009    "ZSoft Paintbrush"
    1010    "Multi-page ZSoft Paintbrush"
    1011    "PNG / Portable Network Graphics"
    1012    "Truevision Targa"
    1013    "Tag Image File Format"
    1014	"Wireless Bitmap"
    1015	"MNG / Multiple-image Network Graphics"
    1016	"JNG / JPEG Network Graphics"
    1017	"Kodak Photo CD"
    1018	"EPS thumbnail / Encapsulated PostScript"
    1019	"Autodesk Image"
    1020	"Adobe Photoshop"
    1021	"Adobe PhotoDeluxe"
    1022	"Corel/Jasc PaintShop Pro"
    1023	"Commodore 64 Koala format"
    1024	"Amiga IFF"
    1025	"DirectDraw Surface"
    1026	"Sun Rasterfile"
    1027	"X11 Bitmap Format"
    1028	"X11 Pixmap Format"
    1029	"Windows Icon"
    1030	"HDR / High Dynamic Range Image"
    1031	"PDF / Portable Document Format"
    1032	"PostScript"
    1033	"Windows Cursor"
    1034	"ASCII Text Art"
    1035    "Canon RAW Digital Camera Dump"
    1036    "Adobe Digital Negative"
    1037    "Nikon RAW Digital Camera Dump"
    1038    "RAW Digital Camera Dump"
    1039    "Fuji RAW Digital Camera Dump"
    1040    "JBIG"
    1041    "DICOM / Digital Imaging and Communications in Medicine"
    1042    "Dr. Halo"
    1043    "AVS X Image"
    1044    "Kodak Cineon"
    1045    "Graph Visualization"
    1046    "SMPTE Digital Moving Picture Exchange"
    1047    "Flexible Image Transport System"
    1048    "FlashPix"
    1049    "MATLAB"
    1050    "ImageMagick"
    1051    "MTV Raytracing"
    1052    "Palm Pixmap"
    1053    "Apple Macintosh QuickDraw/PICT"
    1054    "Alias/Wavefront RLE Image"
    1055    "Seattle File Works"
    1056    "Alias/Wavefront Image"
    1057    "Irix RGB Image"
    1058    "Sun Rasterfile"
    1059    "SVG / Scalable Vector Graphics"
    1060    "TrueType Font"
    1061    "VICAR Rasterfile"
    1062    "Khoros VIFF / Visualization Image File Format"
    1063    "GIMP Image"
    1064	"ILM OpenEXR"

    1200    "Path"
    1201    "File Size"
    1202    "%f Gb"
    1203    "%f Mb"
    1204    "%f Kb"
    1205    "File Timestamp"
    1206    "Dimensions"
    1207    "%s x %s"

    1220    "JPEG compression"
    1221    "%s%% (estimation)"
    1222    "Manufacturer"
    1223    "Model"
    1224    "Image Dimensions"
    1225    "%d x %d Pixels"
    1226    "Resolution"
    1227    "%.1f MP (estimate)"
    1228    "Thumbnail"
    1229    "Available (see ""%s"" page)"
    1230    "Original Date"
    1231    "Digitized Date"
    1232    "X Resolution"
    1233    "Y Resolution"
    1234    "Software"
    1235    "ISO"
    1236    "FNumber"
    1237    "Exposure Time"
    1238    "1/%d sec"
    1239    "Focal Length"
    1240    "%-4.1f mm."
    1241    "Exposure Program"
    1242    "Manual control"
    1243    "Normal"
    1244    "Aperture priority"
    1245    "Shutter priority"
    1246    "Creative (slow program)"
    1247    "Action(high-speed program)"
    1248    "Portrait mode"
    1249    "Landscape mode"
    1250    "Light Source"
    1251    "Daylight"
    1252    "Fluorescent"
    1253    "Tungsten"
    1254    "Flash"
    1255    "Standard light A"
    1256    "Standard light B"
    1257    "Standard light C"
    1258    "D55"
    1259    "D65"
    1260    "D75"
    1261    "Flash"
    1262    "Flash did not fire"
    1263    "Flash fired"
    1264    "Flash fired but strobe return light not detected"
    1265    "Flash fired and strobe return light detected"
    1266    "Flash fired, compulsory flash mode"
    1267    "Onboard Flash fired"
    1268    "Max Aperture Value"
    1269    "Metering Mode"
    1270    "Average"
    1271    "Center weighted average"
    1272    "Spot"
    1273    "Multi-spot"
    1274    "Multi-segment"
    1275    "Partial"
    1276    "Exposure Bias Value"
    1277    "Brightness Value"
    1278    "Sensing Method"
    1279    "1 chip color area sensor"
    1280    "White Point"
    1281    "Reference Black White"
    1282    "YCbCr Coefficients"
    1283    "FlashPix Version"
    1284    "sRGB"
    1285    "Uncalibrated"
    1286    "Color Space"
    1287    "Focal Plane X Resolution"
    1288    "Focal Plane Y Resolution"
    1289    "Focal Plane Resolution Unit"
    1290    "No unit"
    1291    "Inches"
    1292    "Centimeter"
    1293    "Primary Chromaticities"
    1294    "EXIF Version"
    1295    "Compressed BitsPerPixel"
    1296    "Resolution Unit"
    1297    "YCbCr Positioning"
    1298    "Center of pixel array"
    1299    "Datum point"
    1300    "Orientation"
    1301    "Top left side"
    1302    "Top right side"
    1303    "Bottom right side"
    1304    "Bottom left side"
    1305    "Left side top"
    1306    "Right side top"
    1307    "Right side bottom"
    1308    "Left side bottom"
    1309    "Image Description"
    1310    "Scene Type"
    1311    "Subject Distance"
    1312    "Subsec Time"
    1313    "Subsec Time Original"
    1314    "Related Sound File"
    1315    "Exposure Index"
    1316    "File Source"
    1317    "Digital Still Camera"
    1318    "Copyright"
    1319    "User Comment Code"
    1320    "User Comment"

    1750    "Invert"
    1751    "Greyscale"
    1752    "Red Eye Removal"
    1753    "Resize"
    1754    "Rotate"
    1755	"Sharpen"
    
    1800	"Amount:"
    
    3000	"View as Wallpaper..."
    3001	"Set as Wallpaper..."
    3002	"View as Wallpaper"
    3003	"Custom:"
    3004	"x"
    3005	"%s x %s"
    3006	"Set Custom" 
    3007	"Set as Wallpaper"
    3008	" Wallpaper position "
    3009	"Center"
    3010	"Tile"
    3011	"Stretch"
    
    3015	"View as HEX..."
    3016	"View as HEX"
    3017	"This tool can view only existing files."
    
    3020	"Advanced GIF Export..."
    3021	"GIF Export"
    3022	"Settings"
    3023	"Preview"
    3024	" Color Reduction "
    3025	"None"
    3026	"Windows 20 color"
    3027	"Windows 256 color"
    3028	"Windows Greyscale"
    3029	"Monochrome"
    3030	"Greyscale"
    3031	"Netscape Web Safe"
    3032	"Optimal 256 colors"
    3033	" Dither "
    3034	"Nearest"
    3035	"Floyd Steinberg"
    3036	"Stucki"
    3037	"Sierra"
    3038	"Jarvis, Judice and Ninke"
    3039	"Stevenson and Arche"
    3040	"Burkes"
    3041	"Save as GIF..."
    
    3050	"Color Tweak"
    3051	"Brightness"
    3052	"Gaussian Blur"
    3053	"Split Blur"
    3054	"Add Color Noise"
    3055	"Antialias"
    3056	"Contrast"
    3057	"Lightness"
    3058	"Darkness"
    3059	"Saturation"
    3060	"Mosaic"
    3061	"Tile"
    3062	"Emboss"
    3063	"Solarize"
    3064	"Posterize"
    
    3070	"Brightness"
    3071	" Brightness "
    
    3075	"Change image colors"
    3076	"Red:"
    3077	"Green:"
    3078	"Blue:"
    
    3080	"Get Image from Digital Camera or Scanner..."
    3081	"Create HTML for Image..."
    3082	"Would you like to create HTML wrapper for current image?"
    3083	"Error while saving resulting HTML file."
    3084	"HTML file created at: ""%s"""
    3085	"This tool can work only with saved images."
    3086	"Save as JPEG"
    3087	" Quality "
    3088	"Progressive"
    3089	"Optimized (takes longer to save)"
    3090	"Save as JPEG2000"
    3091	" Compression Level "
    3092	"Lossless"
    3093	"Save as TIFF"
    3094	" Compression "
    3095	"None"
    3096	"LZW"
    3097	"JPEG"
    3098	"PackBits"
    3099	"CCITT (Huffman)"
    3100	"CCITT G3, 1D"
    3101	"CCITT G3, 2D"
    3102	"CCITT G4, 2D"
    3103	" Compression Level (only for JPEG) "
    3104	"ZIP"
    
    3110	"Screen Capture..."
    3111	"Screen Capture"
    3112	"Capture"
    3113	" Capture "
    3114	"Desktop"
    3115	"Polygon"
    3116	"Selection"
    3117	"Active window"
    3118	"Hide this window"
    3119	"Capture cursor"
    3120	"Enable 5 seconds delay"
    
    3130	"Paintbrush format image"
    3131	"EGA 16-bit color image"
    3132	"Filler empty"
    3133	"Filler not empty"
    3134	"Manufacturer"
    3135	"Version"
    3136	"Encoding"
    3137	"Bits Per Pixel"
    3138	"Left"
    3139	"Top"
    3140	"Width"
    3141	"Height"
    3142	"Horizintal resolution"
    3143	"Vertical resolution"
    3144	"Color Planes"
    3145	"Bytes Per Line"
    3146	"Palette Type"
    3147	"Horizintal screen size"
    3148	"Vertical screen size"
    3149	"Filler"
    3150	"Image Size (bytes)"
    3151	"File Size (bytes)"
    3152	"%s (not expected!)"
    3153	"%s (valid)"
    3154	"All Colors"
    3155	"Type"
    3156	"File Size (from header)"
    3157	"Compression"
    3158	"Horizontal resolution (pixels per meter)"
    3159	"Vertical resolution (pixels per meter)"
    3160	"Colors Used"
    3161	"Important Colors"
    3162	"Icon"
    3163	"Type mismatch"
    3164	"Number of entries in icon directory"
    3165	"Entries"
    3166	"#%d : %dx%d, %d bits, %d bytes."
    3167	"#%d : %dx%d, %d bits, %d bytes."
    3168	"Truevision TGA Version 2.0"
    3169	"Original TGA Format"
    3170	"No Image Data Included"
    3171	"Uncompressed, Color-mapped Image"
    3172	"Uncompressed, True-color Image"
    3173	"Uncompressed, Black-and-white Image"
    3174	"Run-length encoded, Color-mapped Image"
    3175	"Run-length encoded, True-color Image"
    3176	"Run-length encoded, Black-and-white Image"
    3177	"%d-%d-%d %d:%d:%d "
    3178	"Extension"
    3179	"Author"
    3180	"Comments"
    3181	"Time stamp"
    3182	"Present"
    3183	"None"
    3184	"(sorted)"
    3185	"(not sorted)"
    3186	"No information was given."
    3187	"Global Color Table"
    3188	"Global Color Table Size (bytes)"
    3189	"Pixel Aspect Ratio"
    
    3250	"Print Preview"
    3251	"Print"
    3252	""
    3253	"Zoom"
    3254	""
    3255	"Setup"
    3256	""
    3257	"Proportional"
    3258	"Shrink large images"
    3259	"Center"
    3260	"Cannot get current image for printing."
    3261	"No printers found."
    3262	"Print all pages"
    
    3300	"Arrow keys function:"
    3301	"File navigation"
    3302	"Image scrolling"
    3303	"Enter key behaviour:"
    3304	"Switch between display modes"
    3305	"Toggle full screen mode"
    3306	"Enable ""Fit All"" display mode"
    3307	"Switch to full screen mode on image double click"
    3308	"It is not recommended to combine high quality display filter with progressive image loading"
    3309	""
    3310	"Load all images directly into memory"
    3311	"Do not use this option if computer has less then 1Gb of RAM and you are viewing huge images"
    3312	"Mouse wheel default function:"
    3313	"Image zooming"
    3314	"On mouse click and drag:"
    3315	"Scroll image"
    3316	"Zoom to selected rectangle"
    3317	"On new image open:"
    3318	"Keep previous display state (and zoom to 100% in normal state)"
    3319	"Do nothing (keep previous zoom and display state)"
    3320	"Set display state to ""Fit Big"""
    3321	"Set display state to ""Fit All"""
    3322	"Set display state to ""Normal"" and reset zoom to 100%"
    3323	"Set display state to ""Normal"" and keep previous zoom"
    3324	"Failed to save settings - possible registry permissions issue! Error code: ""%s""."
    3325	"You are running as a user with limited permissions, so file format associations cannot be set!"
    3326	"Filter for high quality display:"
    3327	"Fast linear"
    3328	"Linear"
    3329	"Triangle"
    3330	"Bicubic"
    3331	"Bilinear"
    3332	"Nearest neighbour"
    3333	"B-spline"
    3334	"Mitchell"
    3335	"Bell"
    3336	"Hermite"
    3337	"Lanczos 3"
    3338	"White on black drawing"
    3339	"Black on white drawing"
    3340	"Set file format associations"

    3400	"JPEG Lossless Transformations"
    3401	"JPEG Lossless Transformations..."
    3402	"This function works only with saved JPEG files."
    3404	"Rotate 90°"
    3405	"Rotate 180°"
    3406	"Rotate 270°"
    3407	"Mirror horizontally"
    3408	"Mirror vertically"
    3409	"Transpose"
    3410	"Transverse"
    3411	"Cut"
    3412	"Remove metadata"
    3413	"Warning! Current image may lose up to 16 pixels of image data near borders (for JPEG lossless transformations to work correctly image dimensions should be a multiple of 8)."
    3414	"Update EXIF thumbnail"
    3415	"Back-up original image"
    
    3500	"Customize..."
    3501	""
    3502	"Separator"
    3503	"Customize Toolbar"
    3504	"Available buttons:"
    3505	"Main toolbar:"
    3506	"Add >"
    3507	"< Remove"
    3508	"Reset"
    
    3550	"Themes"
    3551	"Available themes:"
    3552	"Get more themes..."
    3553	"Theme:"
    3554	"Author:"
    3555	"Last updated for:"
    3556	"Description:"
    3557	"Show rare or incompletely supported formats"
    3558	"Additional"
    3559	"Plug-in configuration:"
    
    3600	"Send by E-mail..."
    
    3700	"WIA/TWAIN scanning options"
    3701	"Scanning Options"
    3702	" Imaging subsystem "
    3703	"System default"
    3704	"WIA (Windows Image Acquisition)"
    3705	"TWAIN"
    3706	"Note: WIA is not available for Windows2000"
    3707	"No scanners or digital cameras found - cannot continue."
END
