
// set language
LANGUAGE 0x09, 0x01

// common defines
#include "..\Shared\fximager_version.h"

// main application icon
MAINICON ICON "res\futurix.ico"

// application manifest
1 24 "res\futurix.manifest"

// version info
#include "res\version.rc"

// built-in theme
IMGMAIN   RT_BITMAP   "res\main.bmp"
IMGMAIND  RT_BITMAP   "res\maind.bmp"
IMGFIXED  RT_BITMAP   "res\fixed.bmp"
IMGFIXEDL RT_BITMAP   "res\fixedl.bmp"

// built-in fallback file format icon
1       ICON       "res\fallback.ico"

