
1 VERSIONINFO
FILEVERSION FXVER_MAJOR,FXVER_MINOR,FXVER_REVISION,FXVER_BUILD
PRODUCTVERSION FXVER_MAJOR,FXVER_MINOR,FXVER_REVISION,FXVER_BUILD
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "CompanyName", FXVER_AUTHOR
		VALUE "FileDescription", "FuturixImager Extra Formats Plug-in"
		VALUE "FileVersion", FXVER_VERSIONEX
		VALUE "InternalName", "futuriximager_extraformats"
		VALUE "LegalCopyright", FXVER_RIGHTS
		VALUE "LegalTrademarks", FXVER_TM
		VALUE "OriginalFilename", "fxextraformats.dll"
		VALUE "ProductName", FXVER_APPNAME
		VALUE "ProductVersion", FXVER_VERSION
		VALUE "Comments", FXVER_COMMENT
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04E4
}
}

